{%include file="pc/user/common/headbar.html"%}
{%include file="pc/user/common/navbar.html"%}

{%display_breadcrumb($breadcrumb)%}

<div class="content_wrapper">
<div class="content">

<h1 class="tit_01">求人を紹介してもらう</h1>
<div class="box agency">
<p class="txt_learge mb25">紹介会社が、あなたに代わって条件にあう求人を探してくれます。<br>
ホームページ上で非公開となっている好条件の求人を紹介してもらえるかも…？！<br>
求人紹介を依頼するエージェントを選択し、チェックを入れてください。<br>
何社でも依頼をすることが出来ます。</p>
{%form_open("user/agent/apply_agency")%}
{%foreach $client_list as $client%}
<div class="agency_box">
<h2 class="tit_04"><label><input type="checkbox" name="apply_client_id[]" value="{%$client['client_id']%}"><span>オススメ！</span><a href="{%$base_url%}agent/{%$client['client_id']%}" target="_blank">{%$client['display_name']%}</label></h2>
<p><img src="{%getImageUrlFromS3($client['client_id'], $image_type, $client['images'][0]['name'])%}" alt=""></p>
<p class="txt_learge">{%$client['description']%}</p>
<table>
<tr>
<th>得意エリア</th>
<td>{%$client['area_name']%}</td>
</tr>
<tr>
<th>得意職種</th>
<td>{%$client['job_name']%}</td>
</tr>
</table>
<!-- /.agency_box --></div>
{%/foreach%}
<!--
-->{%if $client_exist%}<p id="error_P" style="color:red;text-align:center;display:none;">応募を1つ以上選択してください。</p><p class="txt_center"><a href="javascript:void(0);" class="btn_pink btn_190" id="apply_agency_link"><span class="ico_arrow03">&gt;</span>求人紹介を依頼する</a></p>
{%else%}
<h3 class="tit_03">利用可能な紹介会社が見つかりませんでした</h3>
{%/if%}
{%form_close()%}
<!-- /.box --></div>

<!-- /.content --></div>

{%include file="pc/user/common/right_nav.html"%}
<!-- /.content_wrapper --></div>
{%include file="pc/user/common/footer.html"%}

<script type="text/javascript">
  $(document).ready(function(){
    $('#apply_agency_link').on('click', function(e){
      var form = $('form')
      if($("form input[type='checkbox']:checked").length > 0) {
        form.submit()
      } else {
        $('#error_P').show()
      }
    });
  })
</script>
