
{%include file="pc/client/common/header.html"%}

{%include
file="pc/client/common/top.html"%}

<div class="main">
	<!-- Left nav -->
	{%include file="pc/client/common/left_nav.html"%}
	<div class="contents inner">
		<h2 class="tit_01">パスワード変更完了</h2>

		<div class="box comps">
			<p class="comps_tit">パスワード変更が完了いたしました。</p>
			<p>次回ログインする際は、新しいパスワードを使用してください。</p>
			<p class="txt_center">
				<a class="btn_190 btn_pink" href="{%$base_url%}client/profile/"><span
						class="ico_arrow03">&gt;</span>登録情報へ戻る</a>
			</p>
			<!-- /.box -->
		</div>

		<!-- /.content -->
	</div>


</div>

{%include file="pc/client/common/footer.html"%}



</body>
</html>
