
{%include file="pc/client/common/header.html"%}

{%include
file="pc/client/common/top.html"%}

<div class="main">
	<!-- Left nav -->
	{%include file="pc/client/common/left_nav.html"%}
	<div class="contents inner">
		<h2 class="tit_01">企業情報</h2>

		{%form_open("", ['method' => 'POST', 'class' => 'frmchangepassword', 'id' => 'frmchangepassword'])%}
		<div class="box">
			<p class="txt_learge">
				ログインパスワードの再設定画面です。<br>新しく設定するパスワードを入力後、「パスワードを変更する」ボタンを押してください。
			</p>
			<table class="table02 mb20">
				<tbody>
				<tr>
					<th>現在のパスワード</th>
					<td><input type="password" name="oldpass"
							   data-validation="required length custom"
							   data-validation-regexp="^([0-9a-zA-Z_][0-9a-zA-Z_]+)$"
							   data-validation-length="min8"
							   data-validation-error-msg="<div class='message'><div class='error | success | warning'>現在のパスワードを入力してください。</div></div>">
						{%form_error('oldpass')%}
					</td>
				</tr>
				<tr>
					<th>新しいパスワード</th>
					<td>
						<input type="password" name="newpass" id="newpass"
							   data-validation="required length custom"
							   data-validation-regexp="^([0-9a-zA-Z_][0-9a-zA-Z_]+)$"
							   data-validation-length="min8"
							   data-validation-error-msg="<div class='message'><div class='error | success | warning'>新しいパスワードを入力してください。</div></div>"><br>
						<span class="txt_small">※8文字以上の半角英数字（a～z,0～9）で入力してください。</span>
						{%form_error('newpass')%}
					</td>
				</tr>
				<tr>
					<th>新しいパスワード（確認用）</th>
					<td>
						<input type="password" name="pass"
							   data-validation="required length custom confirm_pass"
							   data-validation-regexp="^([0-9a-zA-Z_][0-9a-zA-Z_]+)$"
							   data-validation-length="min8"
							   data-validation-error-msg="<div class='message'><div class='error | success | warning'>新しいパスワード（確認用）を入力してください。</div></div>">
						{%form_error('pass')%}
					</td>
				</tr>
				</tbody>
			</table>

			<p class="txt_center">
				<a href="javascript:void(0);" class="btn_pink btn_190 submit"><span class="ico_arrow03">&gt;</span>パスワードを変更する</a>
			</p>
			<!-- /.box -->
		</div>
		</form>

		<!-- /.content -->
	</div>

	<script src="{%$static_url%}common/js/jquery.min.1.10.2.js"></script>
	<script src="{%$static_url%}common/js/jquery.form-validator.min.2.2.1.js"></script>
	<link href="{%$static_url%}client/css/message.css" rel="stylesheet">

	<script type="text/javascript">
		//Add validation
		$.formUtils.addValidator({
			name : 'confirm_pass',
			validatorFunction : function(value, $el, config, language, $form) {
				if(($('#newpass').val()) != value){
					return false;
				}
				return true;
			},
			errorMessageKey: 'badEvenNumber'
		});
		$.validate();
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
			$('a.submit').click(function(event){
				event.preventDefault();
				var action = jQuery(this).attr('href');
				var form = jQuery(this).parents('form');
				$(form).submit();
				return false;
			});
		});
	</script>
</div>

{%include file="pc/client/common/footer.html"%}



</body>
</html>
