{%include file="pc/client/common/header.html"%}
<body class="beforelogin">
<div class="content_s">
<h1><img src="{%$static_url%}common/images/logo.png" alt="FINE！">管理画面</h1>
<h2 class="tit_02 mb20">パスワード再設定</h2>
<p class="mb40">パスワードを再設定します。<br>ご希望されるパスワードをご入力ください。</p>
{%form_open($base_url|cat:"client/password/reset_execute",["id"=>"password_reset_form"])%}
<input name="client_id" type="hidden" value="{%$client_id%}">
<input name="token" type="hidden" value="{%$token%}">
<div class="login">
<dl>
<dt>パスワード</dt>
<dd>
<input id="password" name="password" type="password" class="mb5">
<p id="password_err" class="display_none" style="color: #ff0000;">半角英数8文字以上で入力してください。</p>
</dd>
</dl>
<dl>
<dt>パスワード再入力（確認用）</dt>
<dd>
<input id="password_confirm" type="password" class="mb5">
<p id="password_confirm_err" class="display_none" style="color: #ff0000;">確認用パスワードを正しく入力してください。</p>
<p id="password_confirm_difer" class="message display_none" style="color: #ff0000;">確認用パスワードが等しくありません。</p>
</dd>
</dl>
<!-- /.login --></div>
<p class="txt_center"><a href="javascript:void(0)" id="submit" class="btn_pink btn_280"><span class="ico_arrow03">&gt;</span>パスワード再設定</a></p>
{%form_close()%}
<!-- /.content_s --></div>
{%include file="pc/client/common/footer.html"%}
<script>
$("html").keypress(function(e){if(e.which==13){password_valid();}});
$("#submit").on("click",function(){password_valid();});
function password_valid(){
    password = $("#password").val();
    if(password.match(/^[0-9a-z]{8,254}$/)){
        $("#password_err").addClass("display_none");
        password_confirm = $("#password_confirm").val();
        if(password_confirm === ""){
            $("#password_confirm_difer").addClass("display_none");
            $("#password_confirm_err").removeClass("display_none");
        }else if(password === password_confirm){
            $("#password_reset_form").submit();
        }else{
            $("#password_confirm_err").addClass("display_none");
            $("#password_confirm_difer").removeClass("display_none");
        }
    }else{
        $("#password_confirm_err").addClass("display_none");
        $("#password_confirm_difer").addClass("display_none");
        $("#password_err").removeClass("display_none");
    }
}
</script>