{%include file="pc/client/common/header.html"%}


<body class="beforelogin">
<div class="content_s">
<h1><img src="{%$static_url%}common/images/logo.png" alt="FINE！">管理画面</h1>
<h2 class="tit_02 mb20">パスワード再発行</h2>
<p class="mb40">パスワードを再発行します。<br>ご登録のメールアドレス宛に新しいパスワードを送りますので、下記に登録したメールアドレスを入力してください。</p>
<form action="{%base_url()%}client/account/password_reset_check">
<div class="login">
<dl>
<dt>メールアドレス</dt>
<dd><input type="text"><p class="mt5 txt_attention">正しいメールアドレスを入力してください。</p></dd>
</dl>
<!-- /.login --></div>
<p class="txt_center btn_pink btn_280"><span class="ico_arrow03">&gt;</span>パスワード再発行</p>
</form>
<!-- /.content_s --></div>
<p class="mt15 mb40 txt_center"><a href="{%base_url()%}client/account/login" class="txt_line">&gt; ログイン画面へ戻る</a></p>


{%include file="pc/client/common/footer.html"%}
