{%include file="pc/client/common/header.html"%}

<body class="beforelogin">
<div class="content_s">
<h1><img src="{%$static_url%}common/images/logo.png" alt="FINE！">管理画面</h1>
<h2 class="tit_02 mb20">パスワード再発行完了</h2>
<p class="mb40">登録したメールアドレスに再発行したパスワードを送信しました。<br>メールをご確認の上、ログインしてください。<br>パスワードはログイン後の画面から変更できます。</p>
<p class="txt_center"><a href="{%base_url()%}client/account/login" class="btn_white btn_280"><span class="ico_arrow02">&gt;</span>ログイン画面へ戻る</a></p>
<!-- /.content_s --></div>


{%include file="pc/client/common/footer.html"%}
