@charset "UTF-8";

/*  FORM  */
.form_checkbox h5.open.hasChilds label,
form .list li label {padding: 15px 0 0px 27px;}


.form_checkbox h5.open.hasChilds input[type="checkbox"],
.form_checkbox h5.open.hasChilds input[type="radio"],
form .list li input[type="checkbox"], form .list li input[type="radio"] {
    position: absolute;
    z-index: -1;
}
.form_checkbox h5.open input[type="checkbox"]+label,
.form_checkbox h5.open input[type="radio"]+label,
form .list li input[type="checkbox"]+label,
form .list li input[type="radio"]+label {
    display: table-cell;
    vertical-align:middle;
	padding: 0px 0 0px 27px;
	height:50px;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 7px center;
}

form .list li{display: table;}
form .list li label{width:100%;padding:0;margin:0;}

form .list.scout_mail li,
form .list.chbox li{display: block;}
form .list.scout li label,
form .list.chbox li label{display: block;width:auto;padding: 15px 0 0px 27px;margin:0;}
form .list.chbox li input[type="checkbox"]+label,
form .list.chbox li input[type="radio"]+label{display: block;padding: 15px 0 0px 27px;}
form .list.chbox li input.no_image+label{display: block;padding-left:15px;}

.form_checkbox h5.open.hasChilds input[type="checkbox"]+label,
.form_checkbox h5.open.hasChilds input[type="radio"]+label,
form .list li.open input[type="checkbox"]+label,
form .list li.open input[type="radio"]+label {
    padding: 0px 0 0px 27px;
}



form .list li input.no_image+label,
form .childList li input.no_image+label{padding-left:15px;}
form .list li label+input.no_image,
form .childList li label+input.no_image{padding:0;}


form .list.chbox li.arrow label,
form .childList li.arrow label.route_label{padding-right:20px;}

form .list li input[type="checkbox"]+label.route_big_label,
form .list li input[type="radio"]+label.route_big_label{padding:0;}
form .list.chbox li.hasChilds label.route_big_label{padding:15px;}


.pref_box,
.job_type_big_box{}


form .list li.wage_type_box.hasChilds input[type="checkbox"]+label,
form .list li.work_time_box.hasChilds input[type="checkbox"]+label,
form .list li.employment_type_box.hasChilds input[type="checkbox"]+label,
form .list li.occupation_box.hasChilds input[type="checkbox"]+label,
form .list li.work_date_box.hasChilds input[type="checkbox"]+label,
form .list li.work_hour_box.hasChilds input[type="checkbox"]+label,
form .list li.work_term_box.hasChilds input[type="checkbox"]+label,
form .list li.merit_category_box.hasChilds input[type="checkbox"]+label,
form .list li.wage_type_box.hasChilds input[type="radio"]+label,
form .list li.work_time_box.hasChilds input[type="radio"]+label,
form .list li.employment_type_box.hasChilds input[type="radio"]+label,
form .list li.occupation_box.hasChilds input[type="radio"]+label,
form .list li.work_date_box.hasChilds input[type="radio"]+label,
form .list li.work_hour_box.hasChilds input[type="radio"]+label,
form .list li.work_term_box.hasChilds input[type="radio"]+label,
form .list li.merit_category_box.hasChilds input[type="radio"]+label{padding:0 0 0 15px;}


form p.cancel{margin:5px 10px 5px;padding-left:20px; text-align:left;}
.cancel2{display:block;margin:5px 10px 5px;padding-left:20px;}




#login_name,#login_pass,
input[type="submit"], input[type="reset"], button { cursor: pointer }
.form_radio {text-align:center;}
#login_name ,#login_pass,
.form_text input[type="text"],.form_text input[type="tel"],.form_text textarea,.form_text input[type="email"],.form_text input[type="password"]{
	padding: 10px 8px 10px 8px;
	margin:0 -8px;
	width:100%;
	font-size: 14px;
	height:16px;
	line-height: 16px;
}
input::-webkit-input-placeholder{vertical-align:middle;}
input:-moz-placeholder{vertical-align:middle;}
.form_text_box{margin:5px 15px; padding: 10px 0; text-align:center;}


.form_text{
overflow-x:hidden;
max-width:100%;
}


#login form{
	padding:10px 15px;
/*iOS6 �΍�*/
overflow:hidden;
max-width:100%;
}
#login input {width:100%;margin-bottom:5px;}
#login .btn{margin:0;padding:0;}
#login input#login_btn{margin:0;padding:0;}
.login_reminder{clear:both;}


.form_text textarea{min-height:80px;line-height: 20px;}
.form_text textarea.mail_subject_box{min-height:40px;}


.form_select_box select{width:100%;height:30px;}
.form_select_box{margin:5px 15px; padding: 10px 0; text-align:center; font-weight:normal;}


.form_select_box .year{width:30%;font-size:18px;}
.form_select_box .month,
.form_select_box .day{width:23%;font-size:18px;}


input.num01[type="text"],
input.num02[type="text"],
input.num03[type="text"],
input.num01[type="tel"],
input.num02[type="tel"],
input.num03[type="tel"]{width:20%;margin:0 2px;}


.form_ph{padding:5px 10px 5px;text-align:left;}



.form_caption{padding:0px 10px 10px;text-align:left;}
.privacy_box{
	margin:10px;
	padding:5px;
}


.form_veri{padding:5px 10px 10px;text-align:left;}


.form_thanks{padding:10px 10px 20px;text-align:left;font-size:120%;}

#member_regist .regist_pass01 {
margin-bottom:20px;
}

.form_address_box{margin:5px 15px; padding: 10px 0;}
.form_address_box input[type="text"],
.form_address_box select {
border: 1px solid #fccad7;
box-shadow: 0 0 0 2px #fbeaef;
font-size: 14px;
border-radius: 3px;
}
.form_address_box input[type="text"] {
height: 36px;
line-height: 16px;
padding: 10px 8px;
width: 100%;
box-sizing: border-box;
}
.form_address_box .form_address_postalcode input[type="text"] {
width: 40%;
}
.form_address_box select {
height: 30px;
width: 100%;
}

.form_address_box dl {
margin-bottom: 15px;
}
.form_address_box dl:last-child {
margin-bottom: 0;
}
.form_address_box dt {
margin-bottom: 3px;
font-size: 13px;
}
.form_address_box dd {
font-weight: normal;
}

.withdraw_btn {
margin: 0 15px;
}
.withdraw_btn a,
.regist_pass02 a {
display: inline-block;
border: 1px solid #ccc;
border-radius: 3px;
text-align: center;
font-weight: normal;
box-sizing: border-box;
}
.withdraw_btn a {
width: 100px;
color: #666666;
padding: 5px 0;
}
.regist_pass02 a {
width: 100%;
padding: 15px 0;
background: #64c083;
background-image: linear-gradient(-45deg, #59bd7e 15%, transparent 15%, transparent 50%, #59bd7e 50%, #59bd7e 65%, transparent 65%, transparent);
background-size: 15px 15px;
text-shadow: 1px 1px 0 #3e8458;
color: #ffffff;
border: 1px solid #50a776;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
font-weight: bold;
}

/* withdraw */

.sub_container .withdraw h4.title {
padding: 10px 15px; 
}
.sub_container .withdraw section p {
margin: 10px 15px;
font-weight: normal;
}
.sub_container .withdraw section p a {
text-decoration: underline;
}
.sub_container .withdraw section textarea {
width: 100%;
min-height: 80px;
padding: 10px 8px;
border: 1px solid #fccad7;
box-shadow: 0 0 0 2px #fbeaef;
box-sizing: border-box;
font-size: 14px
}