{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}

<!--main_content-->
<div class="main">
	
    <!--service-->
     <section>
     	<h4 class="title_pink_bar">サイトの使い方</h4>
        <div class="service_box">
            <p class="title_joblist_guide title_redbar">保育求人を探す！</p>
                    <div class="form_txt">
                        <p class="service_img"><img src="{%$static_url%}user/images/use/sp_img01.jpg" alt=""/></p>
                        <p class="red_b_txt_l">自分の条件にあった求人を探せるよ！</p>
                        <p>勤務地、職種、施設形態、勤務形態、こだわり条件で1万件以上の保育求人の中から絞り込もう！</p>
                    </div>     
                    <div class="form_button_area">
                        <p class="form_button"><a href="{%$base_url%}search">求人を探す</a></p>
                    </div>
        </div>
        <div class="service_box">
            <p class="title_joblist_guide title_redbar">お気に入り登録する</p>
                    <div class="form_txt">
                        <p class="service_img"><img src="{%$static_url%}user/images/use/sp_img02.jpg" alt=""/></p>
                        <p class="red_b_txt_l">気になった求人を後で比較！お気に入り登録しよう☆</p>
                        <p>忙しい時でも、ちょっとのすき間時間に求人をチェック☆後でじっくり見られるようにお気に入り登録しよう!</p>
                        <p>※要会員登録</p>
                    </div>     
        </div>
        <div class="service_box">
            <p class="title_joblist_guide title_redbar">応募する</p>
                    <div class="form_txt">
                        <p class="service_img"><img src="{%$static_url%}user/images/use/sp_img03.jpg" alt=""/></p>
                        <p class="red_b_txt_l">応募したい求人が見つかったら応募ボタンをクリック！</p>
                        <p>応募内容を確認して送信！応募先から返信が来るのを待とう！</p>
                        <p>※要会員登録</p>
                    </div>     
        </div>
        <div class="service_box">
            <p class="title_joblist_guide title_redbar">紹介会社に求人紹介を依頼！</p>
                    <div class="form_txt">
                        <p class="service_img"><img src="{%$static_url%}user/images/use/sp_img04.jpg" alt=""/></p>
                        <p class="red_b_txt_l">紹介会社を選んで、応募ボタンをクリック！</p>
                        <p>なかなか良い求人がないなあ…なんて人にも安心！紹介会社があなたの希望にあった求人を紹介してくれます！</p>
                    </div>     
                    <div class="form_button_area">
                        <p class="form_button"><a href="{%$base_url%}agent_entry">紹介会社へ求人紹介を依頼する</a></p>
                    </div>
        </div>
     </section>

{%include file="sp/user/common/sub_content.html"%}
</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}

</body>
</html>
