{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}

<!--main_content-->
<div class="main">
    <div class="content_wrapper">
        <h4 class="title_pink_bar">会員登録完了</h4>
        <div class="form_txt">
        会員登録が完了いたしました。</h1>
            <p class="txt_center">ご登録ありがとうございます。本登録が完了しました。<br>以降はご登録いただきましたメールアドレスとパスワードでログインいただけます</p>
            <p class="form_button"><a href="{%$base_url%}login" class="btn_pink btn_200"><span class="ico_arrow03"></span>ログインページへ移動</a></p>
            <!-- /.box -->
        </div>

    <!--コラムカテゴリー一覧-->

{%include file="sp/user/common/sub_content.html"%}
</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}
</body>
</html>
