{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}

<!--main_content-->
<div class="main">

    <section class="sub_container">
        <h1 class="toptitle"><span>会員登録完了</span></h1>
        <article>
            <section>

                <article id="login">
                    <p class="form_ph">ご登録ありがとうございます。本登録が完了しました。<br>以降はご登録いただきましたメールアドレスとパスワードでログインいただけます</p>
                </article>
                <nav class="btn inquiry"><a href="{%$base_url%}login">ログインページへ移動</a></nav>
        </article>
    </section>


</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}
</body>
</html>
