{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}

<!--main_content-->
<div class="main">
    <section class="sub_container">
        <article>
            <section>

                <h1 class="toptitle">会員登録の仮登録が完了いたしました。</h1>
                <article id="login">
                    <p class="form_ph">ご登録ありがとうございます。まだ手続きは完了しておりません。ご登録いただいたメールアドレスへ、ご確認のメールをお送りました。</p>
                    <p class="form_ph">ご登録メールが届かない方は、<a href="{%$base_url%}inquiry/">こちらからお問い合わせください。</p>
                </article>
                <nav class="btn inquiry"><a href="{%$base_url%}">TOPへ戻る</a></nav>
        </article>
    </section>

</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}
</body>
</html>
