{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}

<!--main_content-->
<div class="main">

    <!--complete-->
     <section>
     	<h4 class="title_pink_bar">仮登録完了</h4>
        <p class="red_b_txt form_txt">会員登録の仮登録が完了いたしました。</p>
        <div class="form_txt">
            <p>ご登録ありがとうございます。まだ手続きは完了しておりません。<br/>
ご登録いただいたメールアドレスへ、ご確認のメールをお送りました。</p>
<p>ご登録メールが届かない方は、<a href="{%$base_url%}inquiry/">こちらからお問い合わせください。</p>
        </div>
     </section>

    <!--コラムカテゴリー一覧-->

{%include file="sp/user/common/sub_content.html"%}
</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}
</body>
</html>
