{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}

<!--main_content-->
<div class="main">

    <!--apply complete-->
     <section>
     	<h4 class="title_pink_bar">応募完了</h4>
        <p class="red_b_txt form_txt">応募が完了いたしました。</p>
        <div class="form_txt">
            <p>応募先からの連絡をお待ちください。</p>
        </div>
     </section>

{%include file="sp/user/common/sub_content.html"%}
</div>
<!--/main_content-->
{%include file="sp/user/common/footer.html"%}
</body>
<script>
  jQuery(document).ready(
    function() {
    ga('set','dimension1','login');
    ga('send','pageview','/detail̲".$job_id."/apply̲complete/signup');
    }
  );
</script>
</html>
