{%include file="pc/user/common/headbar.html"%}
<div class="head_nav">
<header>
<ul class="head_logo">
<li><a href="{%$base_url%}"><img src="{%$static_url%}common/images/header_logo.png" alt="FINE！（ファイン）"></a></li>
<li>国内最大級の保育士求人サイト</li>
</ul>
<div class="head_right">

<ul class="login_register"><!--
--><li><a class="btn_130 btn_pink" href="{%$base_url%}signup"><span class="ico_arrow03">&gt;</span>新規会員登録</a></li><!--
--><li><a class="btn_130 btn_white" href="{%$base_url%}login"><span class="ico_arrow02">&gt;</span>ログイン</a></li><!--
--></ul>
<!-- /.head_right --></div>
</header>
<!-- /.head_nav --></div>

<div class="breadcrumbs">
<p><a href="index.html">TOP</a> &gt; メンテナンスのお知らせ</p>
<!-- /.breadcrumbs --></div>

<div class="content_wrapper">
<div class="box comps mt50">
<p class="comps_tit">現在サイトのメンテナンス中です</p>
<p>ご利用の皆様にはご不便とご迷惑をおかけいたします。<br>申し訳ありませんが、しばらくお待ちくださいますようお願い申し上げます。</p>
<!-- /.box --></div>

<!-- /.content_wrapper --></div>

<!--<div id="footer">-->
<footer>
<div class="footer_content">
<p class="bktop"><a href="#"><img src="{%$static_url%}common/images/btn_bktp.png" alt=""></a></p>
<div class="footer_bottom" style="padding-top:25px;">
<p><a href="{%$base_url%}"><img src="{%$static_url%}common/images/footer_logo.png" alt="FINE！（ファイン）"></a></p>
<div class="footer_nav">
<dl>
<dt>サービスについて</dt>
<dd><a href="{%$base_url%}about">FINE！とは？</a></dd>
<dd><a href="{%$base_url%}guide">サイトの使い方</a></dd>
<dd><a href="{%$base_url%}rule">利用規約</a></dd>
<dd><a href="http://www.neo-career.co.jp/policy.html" target="_blank" rel="nofollow">プライバシーポリシー</a></dd>
<dd><a href="http://www.neo-career.co.jp" target="_blank" rel="nofollow">運営会社</a></dd>
<dd><a href="{%$base_url%}inquiry">お問い合わせ</a></dd>
<dd><a href="{%$base_url%}client/inquiry">採用ご担当者様お問い合わせ</a></dd>
</dl>
<dl>
<dt>求人について</dt>
<dd><a href="#map">地域から探す</a></dd>
<dd><a href="{%$base_url%}agent">園の運営元／紹介会社別に探す</a></dd>
<dd><a href="{%$base_url%}agent_entry">求人を紹介してもらう</a></dd>
<dd><a href="javascript:void(0)">コラム</a></dd>
</dl>
<dl>
<dt>FINE！会員登録</dt>
<dd><a href="{%$base_url%}signup">会員登録</a></dd>
<dd><a href="{%$base_url%}login">ログイン</a></dd>
<dd><a href="{%$base_url%}password">パスワードを忘れた方</a></dd>
</dl>
<!-- /.footer_nav --></div>
<!-- /.footer_bottom --></div>
<!-- /.footer_content --></div>
<div class="copyright">
<p>&copy;Neo Career CO.,LTD.All rights reserved.</p>
<!-- /.copyright --></div>
</footer>
<!-- /#footer --></div>

</body>
</html>
