{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}

<!--main_content-->
<div class="main">
	
    <!--password set-->
     <section>
     	<h4 class="title_pink_bar">ログインパスワードの再設定を受け付けました</h4>
        <div class="form_txt">
            <p>ログインパスワードの再設定用のメールをご登録いただいたメールアドレスに送りました。<br>メールのURLリンクよりパスワードの再設定をお願いいたします。</p>
        </div>
     </section>

{%include file="sp/user/common/sub_content.html"%}

</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}
</body>
</html>

