{%include file="pc/admin/shared/_header.html"%}
{%include file="manager/contacts/_nav.tpl"%}
<div class="innerLR">
<div class="widget widget-body-white widget-heading-simple">
<div class="widget-body">

 {%include file="pc/admin/shared/_export.html"%}
 {%include file="pc/admin/shared/_search.html"%}


<table class="dynamicTable tableTools table table-striped checkboxs exceptuser">
<thead>
<tr>
<th class="text-center">
<div class="checkbox checkbox-single margin-none">
<label class="checkbox-custom">
<i class="fa fa-fw fa-square-o"></i>
<input type="checkbox">
</label>
</div>
</th>
<th>スカウトID</th>
<th>送信者</th>
<th>対象求人</th>
<th>スカウトユーザー</th>
<th>タイトル</th>
<th>内容</th>
<th>送信日時</th>
<th>  </th>
</tr>
</thead>
<tbody>


{%foreach from=$result key=k item=v%}
<tr id="item{%$v['candidate_id']%}" class="gradeX">
<td class="text-center"><div class="checkbox checkbox-single margin-none"><label class="checkbox-custom"><i class="fa fa-fw fa-square-o"></i><input type="checkbox" checked="checked"></label></div></td>
<td><a href="{%base_url('manager/candidates/detail')%}/{%$v['candidate_id']%}">{%$v['candidate_id']%}</a></td>
<td><a href="{%get_detail_url($v['item_name'], $v['headhunter_id'])%}">{%$v['headhunter_name']%}</a></td>
<td><a href="{%base_url('manager/jobs/detail')%}/{%$v['job_id']%}">{%$v['job_title']%}</a></td>
<td><a href="{%base_url('manager/users/detail')%}/{%$v['jobseeker_id']%}">{%$v['jobseeker_name']%}</a></td>
<td><a href="{%base_url('manager/candidates/detail')%}/{%$v['candidate_id']%}">{%$v['title']%}</a></td>
<td><a href="{%base_url('manager/candidates/detail')%}/{%$v['candidate_id']%}">{%mb_strcut(strip_tags($v['content']), 0, 100, 'UTF-8')%}</a></td>
<td>{%$v['created']%}</td>
<td>
<a href="{%base_url('manager/candidates/detail')%}/{%$v['candidate_id']%}">
<button type="button" class="btn btn-primary">詳細</button>
</a>
<button class="btn btn-default" onClick="deleteContact({%$v['candidate_id']%})">削除</button></td>
</tr>
{%/foreach%}
</tbody>
</table>
<div class="row"><div class="col-md-6"><div class="dataTables_info" id="DataTables_Table_0_info">Showing {%$quantity['start']%} to {%$quantity['end']%} of {%$quantity['total']%} entries</div></div><div class="col-md-6"><div class="dataTables_paginate paging_bootstrap">

{%$pagerfantaHtml%}

</div></div></div>
</div>
</div>
<!-- // Widget END -->

<!-- Content --></div>
<script type="text/javascript">



    function deleteContact(id)
    {
        var strconfirm = confirm("Are you sure you want to delete?");
        if (strconfirm == true) {
            jQuery(function(){
                    jQuery.ajax({
                        type: "POST",
                        url: "{%base_url('manager/candidates/delete')%}",
                        data: {candidate_id: id},
                        cache: false,
                        success: function (response) {
                            if (response == 'success') {
                                jQuery('#item'+id).remove();
                            }
                        },
                    });
                });
        }

    }

</script>
{%include file="pc/admin/shared/_footer.html"%}