{%foreach $job_list as $job%}
    <section class="job_list_box">
        <section class="job_list">
                <a href="{%$base_url%}detail_{%$job['job_detail']['job']['job_id']%}" class="job_linkarea">
                <div class="job_linkarea_inbox">
                <h4 class="job_list_title">
                {%if !empty($job['job_detail']['tags']['recommend'])%}<span>オススメ！</span>{%/if%}
                {%if $job["job_detail"]["job"]["updated"] > $new_date%}<span>新着</span>{%/if%}
                {%if $job['job_detail']['job']['title']%}{%html_escape($job['job_detail']['job']['title'])%}{%/if%}</h4>
                <p class="job_list_img"><img src="{%getImageUrlFromS3($job['job_detail']['job']['job_id'],$image_type,$job['job_detail']['images'][0]['name'])%}" alt=""/></p>
                <p class="job_list_txt">{%html_escape($job["job_detail"]["job"]["description"])%}</p>
                <div class="job_detail_table_s">
                    {%if !empty($job["nursery_detail"]['name'])%}
                    <dl>
                    <dt>勤務地</dt>
                    <td>{%html_escape($job["nursery_detail"]["name"])%} / {%html_escape($job["nursery_detail"]["address"])%}</td>
                    </dl>
                    {%/if%}
                    {%if !empty($job['job_detail']['tags']['type_employ'])%}
                    <dl>
                    <dt>勤務形態</dt>
                    <td>{%foreach $job['job_detail']['tags']['type_employ'] as $data%}
                    {%html_escape($data['tag_detail']['name'])%}
                    {%/foreach%}
                    </td>
                    </dl>
                    {%/if%}
                    {%if !empty($job['job_detail']['tags']['type_job'])%}
                    <dl>
                    <dt>職種</dt>
                    <td>
                    {%foreach $job['job_detail']['tags']['type_job'] as $data%}
                    {%html_escape($data['tag_detail']['name'])%}
                    {%/foreach%}
                    </td>
                    </dl>
                    {%/if%}
                    {%if !empty($job['job_detail']['job']['worktime'])%}
                    <dl>
                    <dt>勤務時間</dt>
                    <td>{%html_escape($job["job_detail"]["job"]["worktime"])%}</td>
                    </dl>
                    {%/if%}
                    {%if !empty($job['job_detail']['job']['salary'])%}
                    <dl>
                    <dt>給与</dt>
                    <td>{%html_escape($job["job_detail"]["job"]["salary"])%}</td>
                    </dl>
                    {%/if%}
            <ul class="job_tag">
            {%if !empty($job['job_detail']['tags']['tag_job'])%}
            {%foreach $job['job_detail']['tags']['tag_job'] as $data%}
            <a href="{%$base_url%}{%$data['tag_group_detail']['prefix']%}{%$data['tag_detail']['link_name']%}/"><li>{%html_escape($data['tag_detail']['name'])%}</li></a>
            {%/foreach%}
            {%/if%}
            {%if !empty($job['nursery_detail']['tags']['tag_nursery'])%}
            {%foreach $job['nursery_detail']['tags']['tag_nursery'] as $data%}
            <a href="{%$base_url%}{%$data['tag_group_detail']['prefix']%}{%$data['tag_detail']['link_name']%}/"><li>{%html_escape($data['tag_detail']['name'])%}</li></a>
            {%/foreach%}
            {%/if%}
            </ul>
                </div>
            </a>
            {%if $job["user_info"]["apply_status"]%}
            <p class="applied_button">応募済み</p>
            {%else%}
            <div class="apply_job_{%$job['job_detail']['job']['job_id']%}">
            <p class="tip_apply_attention">こちらをクリックすると応募が即完了します。応募完了後は応募先の園、または求人の紹介会社から連絡をさせて頂きます。</p>
            <p class="apply_button"><a href="javascript:void(0)" class="btn_pink btn_210b light_m apply_btn apply_btn" data-job_id="{%$job['job_detail']['job']['job_id']%}" >今すぐ応募する</a></p>
            </div>
            <p class="applied_button apply_finished_job_{%$job['job_detail']['job']['job_id']%} display_none">応募済み</p>
            {%/if%}
            {%if $job["user_info"]["bookmark_status"]%}
            <p class="clip_button_done">お気に入りに追加済み</p>
            {%else%}
            <p class="clip_button bookmark_job_{%$job['job_detail']['job']['job_id']%}"><a class="bookmark_btn" data-job_id="{%$job['job_detail']['job']['job_id']%}" href="javascript:void(0)">お気に入りに追加</a></p>
            <p class="clip_button_done bookmark_finished_job_{%$job['job_detail']['job']['job_id']%} display_none">お気に入りに追加済み</p>
            {%/if%}
         </section>
      </section>

{%/foreach%}