{%foreach $area["pref"] as $pref%}
{%if !empty($selecter["pref"][$pref["area_id"]])%}
    {%$pref_name = $pref["name"]%}
    {%$pref_id = $pref['pref_id']%}
    {%$p_area_id = $pref["area_id"]%}
{%/if%}
{%/foreach%}

{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}

<section class="top_container">
<article id="top_contents">

<h1 class="area_title">{%$pref_name%}から探す</h1>

<nav id="search_free">
<form method="get" action="{%$base_url%}search">
<input type="hidden" id="select_pref" value="{%$pref_id * 1000%}" name="pref">
<input placeholder="フリーワード" class="top_free_text" name="keyword" type="text"/>
<input class="top_free_btn" type="submit" value="検索">
</form>
</nav>

<ul class="accordion">
<li><p><span><img src="{%$static_url%}user/images_sp/ico_area.png" alt="" width="20">勤務地（エリア）</span></p>
<ul>{%foreach $area["city"] as $city%}{%if $city["pref_id"] == $pref_id%}{%$key = $city['area_id']%}{%if isset($city_job_count_list[$key])%}<!--
    --><li><label><input type="checkbox" name="select_city" value="{%$city['area_id']%}" class="select_city" {%if !empty($selecter["city"][$city['area_id']])%}checked{%/if%}> {%$city["name"]%}</label></li><!--
-->{%else%}<!--
<li style="color: #cccccc;"><label><input type="checkbox" name="select_city" value="{%$city['area_id']%}" class="select_city" {%if !empty($selecter["city"][$city['area_id']])%}checked{%/if%} disabled> {%$city["name"]%}</label></li>
-->{%/if%}{%/if%}{%/foreach%}</ul></li>

<li><p><a style="background:none;padding: 14px 0 14px 12px;width:97%;" href="{%$base_url%}{%if $pref_kana != ''%}railway/{%$pref_kana%}{%/if%}"><img src="{%$static_url%}user/images_sp/ico_train.png" alt="" width="20">駅・路線</a></p></li>

<li><p><span><img src="{%$static_url%}user/images_sp/ico_jobtype.png" alt="" width="20">職種</span></p><ul>{%foreach $tags["job"] as $job%}<!--
--><li><label><input type="checkbox" class="select_job" name="select_job" value="{%$job['tag_id']%}" {%if !empty($selecter["job"][$job['tag_id']])%}checked{%/if%}> {%$job["name"]%}</label></li><!--
-->{%/foreach%}</ul></li>
<li><p><span><img src="{%$static_url%}user/images_sp/ico_facility.png" alt="" width="20">施設形態</span></p><ul>{%foreach $tags["nursery"] as $nursery%}<!--
    --><li><label><input type="checkbox" class="select_nursery" name="select_nursery" value="{%$nursery['tag_id']%}" {%if !empty($selecter["nursery"][$nursery['tag_id']])%}checked{%/if%}> {%$nursery["name"]%}</label></li><!--
-->{%/foreach%}</ul></li>
<li><p><span><img src="{%$static_url%}user/images_sp/ico_employtype.png" alt="" width="20">勤務形態</span></p><ul>{%foreach $tags["employee"] as $employee%}<!--
    --><li><label><input type="checkbox" class="select_employee" name="select_employee" value="{%$employee['tag_id']%}" {%if !empty($selecter["employee"][$employee['tag_id']])%}checked{%/if%}> {%$employee["name"]%}</label></li><!--
-->{%/foreach%}</ul></li>
<li><p><span><img src="{%$static_url%}user/images_sp/ico_condition.png" alt="" height="20">こだわり条件</span></p><ul>{%foreach $tags["tag"] as $tag%}<!--
    --><li><label><input type="checkbox" class="select_tag" name="select_ag" value="{%$tag['tag_id']%}" {%if !empty($selecter["tag"][$tag['tag_id']])%}checked{%/if%}> {%$tag["name"]%}</label></li><!--
-->{%/foreach%}</ul></li>
</ul>

<nav id="regist"><p class="btn"><a href="javascript:void(0);" class="btn_pink btn_190" id="job_search_submit">この条件で検索する</a></p></nav>

<nav id="attention">
<h2 class="newjob_title"><img width="300" alt="新着求人" src="{%$static_url%}user/images_sp/title_attention.png"></h2>
{%if !empty($job_list)%}
<ul>

{%$i=0%}
    {%foreach $job_list as $job%}
    {%$i = $i + 1%}
    {%if !empty($job) && $i <= 15%}
<li class="image">
<a href="{%$base_url%}detail_{%$job['job_detail']['job']['job_id']%}">
<div class="innerimage">
<img src="{%getImageUrlFromS3($job['job_detail']['job']['job_id'],$image_type,$job['job_detail']['images'][0]['name'])%}" width="80" alt="{%$job["job_detail"]["job"]["title"]%}" />
</div>
<p class="date">2014/12/05</p>
<p class="title">{%html_escape($job["nursery_detail"]["address"])|truncate:20:"...":true%}</p>
<p class="copy">{%html_escape($job["job_detail"]["job"]["salary"]|truncate:20:"...":true)%}</p>
</a>
</li>
{%/if%}
    {%/foreach%}
</ul>
{%/if%}
</nav>

</article>
</section>

{%include file="sp/user/common/footer.html"%}
<script src="{%$static_url%}common/js/slick.min.js"></script>
<script src="{%$static_url%}user/js/jquery.darktooltip.js"></script>
<!-- Move code js search and all function into file user/js/search.js -->
<script src="{%$static_url%}user/js_sp/areatopsearch.js"></script>
<script>
$(".select_city,.select_job,.select_nursery,.select_employee,.select_tag").on("click",function(){
    if($(this).prop("checked")){
        $(this).parent().css("background","rgb(255,204,217)");
    }else{
        $(this).parent().css("background","rgb(255,255,255)");
    }
});
</script>
</body>
</html>
