{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}
{%include file="sp/user/common/loading.html"%}
<!--main_content-->
<div class="main">

    <!--job detail-->
    <section class="job_list_sec">
        {%if !empty($job_detail_info['job_detail']['tags']['recommend'])%}<span class="tag_osusume">オススメ!</span>{%/if%}
        <h4 class="job_list_title">{%$job_detail_info['job_detail']['job']['title']%}</h4>
        <p class="job_list_txt">{%nl2br($job_detail_info['job_detail']['job']['pr'])%}</p>
       <ul class="job_tag">
            {%if !empty($job_detail_info['job_detail']['tags']['tag_job'])%}
            {%foreach $job_detail_info['job_detail']['tags']['tag_job'] as $data%}
            <li><a href="{%$base_url%}{%$data['tag_group_detail']['prefix']%}{%$data['tag_detail']['link_name']%}/">{%html_escape($data['tag_detail']['name'])%}</a></li>
            {%/foreach%}
            {%/if%}
            {%if !empty($job_detail_info['nursery_detail']['tags']['tag_nursery'])%}
            {%foreach $job_detail_info['nursery_detail']['tags']['tag_nursery'] as $data%}
            <li><a href="{%$base_url%}{%$data['tag_group_detail']['prefix']%}{%$data['tag_detail']['link_name']%}/">{%html_escape($data['tag_detail']['name'])%}</a></li>
            {%/foreach%}
            {%/if%}
       </ul>

        {%if $job_detail_info['user_info']['apply_status'] != 0%}
        <p class="applied_button">応募済み</p>
        {%else%}
        <p class="apply_button apply_job_{%$job_detail_info['job_detail']['job']['job_id']%}"><a href="javascript:void(0)"  data-job_id="{%$job_detail_info['job_detail']['job']['job_id']%}"  class="btn_pink btn_full tip_job_apply light apply_btn" data-tooltip="こちらをクリックすると応募が即完了します。<br/>応募完了後は応募先の園、または求人の紹介会社から連絡をさせて頂きます。"><span class="ico_arrow03"></span>今すぐ応募する</a></p>
        <p class="applied_button apply_finished_job_{%$job_detail_info['job_detail']['job']['job_id']%} display_none">応募済み</p>
        {%/if%}

        <!--<p class="apply_button"><a href="javascript:void(0)" class="btn_pink btn_full tip_job_apply light apply_btn" data-job_id="{%$job_detail_info['job_detail']['job']['job_id']%}" ><span class="ico_arrow03">&gt;</span>今すぐ応募する</a></p>-->

        <p class="clip_button"><!--
         -->{%if $job_detail_info['user_info']['bookmark_status']%}<!--
         --><a href="javascript:void(0)" class="bookmark_box btn_litegray btn_175 mt0"><span class="ico_folder02"></span>お気に入りに追加済み</a><!--
         -->{%else%}<!--
         --><a href="javascript:void(0)" class="bookmark_box btn_litegray btn_175 mt0 bookmark_job_{%$job_detail_info['job_detail']['job']['job_id']%} bookmark_btn" id="operate_bookmark" data-job_id="{%$job_detail_info['job_detail']['job']['job_id']%}"><span class="ico_folder02"></span>お気に入りに追加する</a><!--
         --><a href="javascript:void(0)" class="bookmark_box btn_litegray btn_175 mt0 bookmark_finished_job_{%$job_detail_info['job_detail']['job']['job_id']%} display_none"><span class="ico_folder02"></span>お気に入りに追加しました</a><!--
        -->{%/if%}
        </p>

     </section>

     <section>
         <h4 class="title_pink_bar">求人情報</h4>
        <!--slider-->
        <div id="mainVisual">
            <div class="flex-container">
                {%if count($job_detail_info['job_detail']['images'])>0%}
                <div class="{%if count($job_detail_info['job_detail']['images'])>1%}flexslider{%/if%}">
                    <ul class="slides">
                        {%foreach $job_detail_info['job_detail']['images'] as $key => $image %}
                        <li><img src="{%getImageUrlFromS3($job_detail_info['job_detail']['job']['job_id'],$image_type['job'],$image['name'])%}" alt="" width="270"></li>
                        {%/foreach%}
                    </ul>
                </div>
                {%/if%}
            </div>
        </div>
        <!--/slider-->
        <dl class="job_detail_table">
                {%if !empty($job_detail_info['job_detail']['tags']['type_job'])%}
                <dt>職種</dt>
                <dd>
                    {%foreach $job_detail_info['job_detail']['tags']['type_job'] as $data%}
                    {%html_escape($data['tag_detail']['name'])%}<br>
                    {%/foreach%}
                </dd>
                {%/if%}
                <dt>勤務形態</dt>
                <dd>
                    {%if !empty($job_detail_info['job_detail']['tags']['type_employ'])%}
                    {%foreach $job_detail_info['job_detail']['tags']['type_employ'] as $data%}
                    {%html_escape($data['tag_detail']['name'])%}
                    {%/foreach%}
                    {%/if%}
                </dd>
            {%if !empty($job_detail_info['job_detail']['job']['description'])%}
                <dt>仕事内容</dt>
                <dd>
                    {%nl2br($job_detail_info['job_detail']['job']['description'])%}
                </dd>
            {%/if%}
            {%if !empty($job_detail_info['job_detail']['job']['salary'])%}
                <dt>給与</dt>
                <dd>
                    {%$job_detail_info['job_detail']['job']['salary']%}
                </dd>
            {%/if%}
            {%if !empty($job_detail_info['job_detail']['job']['bonus'])%}
                <dt>賞与</dt>
                <dd>
                    {%$job_detail_info['job_detail']['job']['bonus']%}
                </dd>
            {%/if%}
            {%if !empty($job_detail_info['job_detail']['job']['worktime'])%}
                <dt>勤務時間</dt>
                <dd>
                    {%$job_detail_info['job_detail']['job']['worktime']%}
                </dd>
            {%/if%}
            {%if !empty($job_detail_info['job_detail']['job']['holiday'])%}
                <dt>休日</dt>
                <dd>
                    {%$job_detail_info['job_detail']['job']['holiday']%}
                </dd>
            {%/if%}
                {%if !empty($job_detail_info['job_detail']['tags']['tag_job'])%}
                <dt>待遇</dt>

                <dd>
                    {%foreach $job_detail_info['job_detail']['tags']['tag_job'] as $data%}
                    {%html_escape($data['tag_detail']['name'])%}<br>
                    {%/foreach%}
                </dd>
                {%/if%}
                {%if !empty($job_detail_info['job_detail']['tags']['insurance_tag'])%}
                <dt>社会保険</dt>
                <dd>
                    {%foreach $job_detail_info['job_detail']['tags']['insurance_tag'] as $data%}
                    {%html_escape($data['tag_detail']['name'])%}<br>
                    {%/foreach%}
                </dd>
                {%/if%}
                <dt>必須資格</dt>
                <dd>
                    {%$job_detail_info['job_detail']['job']['requirement']%}
                </dd>
        </dl>
     </section>

     <section>
         <h4 class="title_pink_bar">勤務先情報</h4>
        <!--slider-->
                {%if !empty($job_detail_info['nursery_detail']['images'])%}
        <div id="mainVisual">
            <div class="flex-container">
                {%if count($job_detail_info['nursery_detail']['images'])>0%}
                {%if count($job_detail_info['nursery_detail']['images'])>1%}
                <div class="flexslider">
                {%else%}
                    <div class="">
                {%/if%}
                    <ul class="slides">
                        {%foreach $job_detail_info['nursery_detail']['images'] as $img%}
                        <li><img src="{%getImageUrlFromS3($job_detail_info['nursery_detail']['nursery_id'],$image_type['nursery'],$img['name'])%}" alt="" width="270"></li>
                        {%/foreach%}
                    </ul>
                </div>
                {%/if%}

            </div>
        </div>
                {%/if%}
        <!--sliderここまで-->
        <dl class="job_detail_table">
            {%if !empty($job_detail_info['nursery_detail']['name'])%}
                <dt>施設名</dt>
                <dd>{%$job_detail_info['nursery_detail']['name']%}</dd>
            {%/if%}
            {%if !empty($job_detail_info['nursery_detail']['address'])%}
                <dt>所在地</dt>
                <dd>{%$job_detail_info['nursery_detail']['address']%}</dd>
            {%/if%}
            {%if !empty($job_detail_info['nursery_detail']['station_name'])%}
                <dt>アクセス</dt>
                <dd>{%$job_detail_info['nursery_detail']['station_name']%}</dd>
            {%/if%}
            {%if !empty($job_detail_info['nursery_detail']['url'])%}
                <dt>URL</dt>
                <dd><a href="{%$job_detail_info['nursery_detail']['url']%}" target="_blank">{%$job_detail_info['nursery_detail']['url']%}</a></dd>
            {%/if%}
            {%if !empty($job_detail_info['nursery_detail']['capacity'])%}
                <dt>定員</dt>
                <dd>{%$job_detail_info['nursery_detail']['capacity']%}</dd>
            {%/if%}

            {%if (count($job_detail_info['nursery_detail']['stations'])>0 && $job_detail_info['nursery_detail']['stations'][0]['main_flg']==1)%}

                <dt nowrap>最寄駅</dt>
                <dd>
                    {%$job_detail_info['nursery_detail']['stations'][0]['station_name']%} ({%$job_detail_info['nursery_detail']['stations'][0]['line_name']%})
                    {%if $job_detail_info['nursery_detail']['bus_time']>0 %}
                    <br>
                    バス {%$job_detail_info['nursery_detail']['bus_time']%} 分
                    {%/if%}
                    {%if $job_detail_info['nursery_detail']['walk_time']>0 %}
                    <br>
                    徒歩 {%$job_detail_info['nursery_detail']['walk_time']%}分
                    {%/if%}
                </dd>

            {%/if%}
            {%if (count($job_detail_info['nursery_detail']['stations'])>0 )%}
                {%if !(count($job_detail_info['nursery_detail']['stations'])==1 && $job_detail_info['nursery_detail']['stations'][0]['main_flg']==1)%}
                    <dt nowrap>近くの駅</dt>
                    <dd>
                        {%foreach $job_detail_info['nursery_detail']['stations'] as $station%}
                        {%if ($station['main_flg']==0)%}
                        <div >
                            {%$station['station_name']%} ( {%$station['line_name']%})
                        </div>
                        {%/if%}
                        {%/foreach%}
                    </dd>
                {%/if%}
            {%/if%}
            {%if !empty($job_detail_info['nursery_detail']['direction'])%}

                <dt nowrap>交通手段補足</dt>
                <dd>{%$job_detail_info['nursery_detail']['direction']%}</dd>

            {%/if%}

            {%if !empty($job_detail_info['nursery_detail']['description'])%}
                <dt>園のひとこと</dt>
                <dd>{%$job_detail_info['nursery_detail']['description']%}</dd>
            {%/if%}
        </dl>
     </section>
    {%if $job_detail_info['client_detail']['account_type']==="1"%}
     <section>
         <h4 class="title_pink_bar">運営元情報</h4>
        <!--slider-->
        {%if !empty($agent['images'])%}
        <div id="mainVisual">
            <div class="flex-container">
                <div class="">
                    <ul class="">
                        <img src="{%getImageUrlFromS3($agent['client_id'],$image_type['client'],$agent['images'][0]['name'])%}" alt="" width="270">

                    </ul>
                </div>
            </div>
        </div>
        {%/if%}
        <!--/slider-->
        <dl class="job_detail_table">
                    {%if !empty($agent['display_name'])%}
                <dt>会社名</dt>
                <dd>{%html_escape($agent["display_name"])%}</dd>

                    {%/if%}
                    {%if !empty($agent['description'])%}
                <dt>ひとこと</dt>
                <dd>{%html_escape($agent["description"])%}</dd>

                    {%/if%}
                    {%if !empty($agent['display_address'])%}
                <dt>所在地</dt>
                <dd>{%html_escape($agent["display_address"])%}</dd>

                    {%/if%}

                <dt></dt>
                <dd></dd>
        </dl>
     </section>


    {%else%}
    <section>
        <h4 class="title_pink_bar">紹介会社情報</h4>
        <!--slider-->
        <div id="mainVisual">
            <div class="flex-container">
                <div class="">
                    <ul class="">
                        <img src="{%getImageUrlFromS3($agent['client_id'],$image_type['client'],$agent['images'][0]['name'])%}" alt="" width="270">

                    </ul>
                </div>
            </div>
        </div>
        <!--/slider-->
        <dl class="job_detail_table">
                    {%if !empty($agent['display_name'])%}
            <dt>会社名</dt>
            <dd>{%html_escape($agent["display_name"])%}</dd>
                    {%/if%}
                    {%if !empty($agent['area'])%}
            <dt>得意エリア</dt>
            <dd>{%get_string_list($agent["area"], "name", " , ")%}</dd>
                    {%/if%}
                    {%if !empty($agent['tag'])%}
            <dt>得意職種</dt>
            <dd>{%get_string_list($agent["tag"], "name", " , ", "tag_group_id","2")%}</dd>
                    {%/if%}
                    {%if !empty($agent['description'])%}
            <dt>ひとこと</dt>
            <dd>{%html_escape($agent["description"])%}</dd>
                    {%/if%}
                    {%if !empty($agent['display_address'])%}
            <dt>所在地</dt>
            <dd>{%html_escape($agent["display_address"])%}</dd>
                    {%/if%}

                    {%if !empty($agent['license_number'])%}
            <dt>有料職業紹介許可番号</dt>
            <dd>{%html_escape($agent["license_number"])%}</dd>
                    {%/if%}
            <dt></dt>
            <dd></dd>
        </dl>
    </section>
    {%/if%}
    <div class="job_flow" style="margin-bottom: 10px;">
        <h4 class="title_pink_bar">{%if $job_detail_info['client_detail']['account_type']==="1"%}ご選考の流れ{%else%}ご紹介の流れ{%/if%}</h4>

        <p>{%html_escape($agent["process"])|nl2br%}</p>
    </div>
    {%if $job_detail_info['client_detail']['account_type']==="2"%}
    <section>
             <h4 class="title_pink_bar">この会社のキャリアアドバイザ</h4>

            {%foreach $career_adviser as $adviser%}
                <div  class="job_adviser">
                    <img src="{%getImageUrlFromS3($adviser['career_adviser_id'],4)%}" alt="" height="127" width="127" class="job_adviser_img">
                    <div class="job_adviser_st">
                        <p class="job_adviser_name">{%$adviser["name"]%}</p>
                        <p>得意エリア：{%get_string_list($adviser["expert_area"], "name", " , ")%}</p>

                        <p>{%html_escape($adviser["message"]|truncate:18:"...")%}</p>

                    </div>
                </div>
            {%/foreach%}

        <!-- /.job_adviser -->
    </section>
    {%/if%}
     <!--re-serch button-->
        <p class="reserch_button job_list_sec"><a href="{%$base_url%}search/">条件を変えて検索する</a></p>

    <!--Popularity job-->
    <section class="job_new">
            <h4 class="title_joblist title_redbar">このエリアの人気求人はこちら</h4>
         <!--job1-->
        {%foreach $job_related_list as $job%}
         <a href="{%$base_url%}detail_{%$job['job_id']%}">
         <section class="job_detail_box">
             <div class="job_detail_img"><img src="{%getImageUrlFromS3($job['job_id'],$image_type['job'],$job['images'][0]['name'])%}" alt=""/></div>
             <div class="job_detail">
                 <h5 class="job_detail_title">{%if $job['title']%}{%html_escape($job['title'])%}{%/if%}</h5>
                 {%if $job['nursery_detail']['display_address']%}
                 <dl>
                    <dt>勤務地</dt>
                    <dd>{%html_escape($job['nursery_detail']['name'])%} / {%html_escape($job['nursery_detail']['display_address'])%}</dd>
                 </dl>
             {%/if%}
{%if !empty($job['tags']['type_employ'])%}
                 <dl>
                    <dt>雇用形態</dt>
                    <dd>{%foreach $job['tags']['type_employ'] as $data%}
{%html_escape($data['tag_detail']['name'])%}
{%/foreach%}</dd>
                 </dl>
                 {%/if%}
             </div>
             <i class="icon_arrow"></i>
         </section>
         </a>
         {%/foreach%}
         <!--more button-->
         </section>
{%include file="sp/user/common/sub_content.html"%}
    </div>

{%include file="sp/user/common/footer.html"%}
<!--flexslider-->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
<script src="{%$static_url%}user/js/jquery.flexslider-min.js"></script>
<script src="{%$static_url%}user/js/apply.js"></script>
<script type="text/javascript">
        $("document").ready(function(){
                $('.flexslider').flexslider({
                                animation: "slide",              //"fade"か"slide"を選択
                                slideDirection: "horizontal",   //"horizontal"で横移動、"vertical"で縦移動
                                slideshow: true,                //trueで自動でスライドショーに
                                slideshowSpeed: 3000,           //スライドショーの間隔
                                animationDuration: 500,         //アニメーションのスピード
                                directionNav: true,             //trueで前へ、次へを表示
                                controlNav: true,               //Boolean: Create navigation for paging control of each clide? Note: Leave true for manualControls usage
                                keyboardNav: true,              //trueでキーボードの右、左で操作できるように
                                mousewheel: false,              //trueでマウスホイールで前に戻ることができるように
                                prevText: "前へ",           //前に戻るボタンのテキストを指定
                                nextText: "次へ",               //次に進むボタンのテキストを指定
                                pausePlay: false,               //trueで停止ボタンを表示
                                pauseText: 'Pause',             //停止ボタンのテキストを指定
                                playText: 'Play',               //停止ボタンを押した後のテキストを指定
                                randomize: true,               //スライドをランダムに並び替えて表示
                                slideToStart: 0,                //最初のスライドを指定(0で一番目のスライド)
                                animationLoop: true,            //trueでスライドをループさせる
                                pauseOnAction: false,            //？？
                                pauseOnHover: true,            //trueでマウスオーバーでスライドを停止に設定
                                controlsContainer: ".flex-container",          //要素を指定すると、その直下にナビゲーション、コントロールの表示される、指定しないとこの場合.flexsliderとなる
                                manualControls: "",             //スライドの数になるセレクタを指定とのことだが、省略で問題なし
                                start: function(){},            //Callback: function(slider) - Fires when the slider loads the first slide
                                before: function(){},           //Callback: function(slider) - Fires asynchronously with each slider animation
                                after: function(){},            //Callback: function(slider) - Fires after each slider animation completes
                                end: function(){}               //Callback: function(slider) - Fires when the slider reaches the last slide (asynchronous)
                });
        });
        $(".apply_btn").on("click",function(e){
            apply_for_job($(this),"apply");
        });
        $(".bookmark_btn").on("click",function(e){
            apply_for_job($(this),"bookmark");
        });
{%if $login !== false%}
  jQuery(document).ready(
    function() {
    ga('set','dimension1','login');
    ga('send','pageview','/detail_{%$job_detail_info["job_detail"]["job"]["job_id"]%}');
    }
  );
{%/if%}
</script>
</body>
</html>
