{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}

<!--main_content-->
<div class="main">
	
    <!--job detail-->  
    <section class="job_list_sec">
        <span class="tag_osusume">オススメ!</span>
        <h4 class="job_list_title">私たちと一緒に保育の仕事を始めませんか？私たちと一緒に保育の仕事を始めませんか？</h4>
        <p class="job_list_txt">ゆらりん東大泉保育園の周辺には、公園がたくさんあります。広い戸外で元気に遊び、元気な身体とたくさんのお友達との関わりの中で生まれる社会性の芽生えを育んでいます。定員25名の少人数ですが、少人数ならではの、あたたかな関わりを活かせる保育園ですよ。 お子様の心と身体の健やかな成長を応援しています。子どもたちや親御さんが安心できるあたたかい保育園を目指しましょう!子どもたちや親御さんが安心できるあたたかい保育園を目指しましょう!子どもたちや親御さんが安心できるあたたかい保育園を目指しましょう!子どもたちや親御さんが安心できるあたたかい保育園を目指しましょう!</p>
       <ul class="job_tag">
            <li>未経験者歓迎</li>
            <li>ブランク歓迎</li>
            <li>ブランク歓迎</li>
            <li>ブランク歓迎</li>
       </ul>
        <p class="apply_button"><a href="../entry/index.html">今すぐ応募する</a></p>
        <p class="telapply_button"><a href="#">電話で応募する</a></p>
        <p class="clip_button"><a href="#">お気に入り</a></p>
     </section>
     
     <section>
     	<h4 class="title_pink_bar">求人情報</h4>
        <!--slider-->
        <div id="mainVisual">
            <div class="flex-container">
                <div class="flexslider">
                    <ul class="slides">
                    <li><img src="{%$static_url%}user/img/dummy/dummy_slide.jpg" alt="" /></li>
                    <li><img src="{%$static_url%}user/img/dummy/dummy_slide.jpg" alt="" /></li>
                    <li><img src="{%$static_url%}user/img/dummy/dummy_slide.jpg" alt="" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/slider-->
        <dl class="job_detail_table">
        		<dt>職種</dt>
        		<dd>幼稚園教諭</dd>
        		<dt>勤務形態</dt>
        		<dd>パート</dd>
        		<dt>仕事内容</dt>
        		<dd>認証保育園（０歳児～５歳児　定員３０名）での給食、離乳食、おやつの調理業務、栄養士の補佐</dd>
        		<dt>給与</dt>
        		<dd>月給186,000円～250,000円 </dd>
        		<dt>賞与</dt>
        		<dd>あり（年２回、２ヶ月分）</dd>
        		<dt>勤務時間</dt>
        		<dd>8:00〜17:00</dd>
        		<dt>休日</dt>
        		<dd>土曜日・日曜日</dd>
        		<dt>待遇</dt>
        		<dd>急募, 土日休み</dd>
        		<dt>社会保険</dt>
        		<dd>雇用保険</dd>
        		<dt>必須資格</dt>
        		<dd>保育士, 幼稚園教諭Ⅰ種</dd>
        </dl>
     </section>

     <section>
     	<h4 class="title_pink_bar">勤務先情報</h4>
        <!--slider-->
        <div id="mainVisual">
            <div class="flex-container">
                <div class="flexslider">
                    <ul class="slides">
                    <li><img src="{%$static_url%}user/img/dummy/dummy_slide.jpg" alt="" /></li>
                    <li><img src="{%$static_url%}user/img/dummy/dummy_slide.jpg" alt="" /></li>
                    <li><img src="{%$static_url%}user/img/dummy/dummy_slide.jpg" alt="" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--sliderここまで-->
        <dl class="job_detail_table">
        		<dt>施設名</dt>
        		<dd>あおぞら保育園</dd>
        		<dt>所在地</dt>
        		<dd>東京都練馬区東大泉1-35-14 貫井ビルディング3F</dd>
        		<dt>アクセス</dt>
        		<dd>徒歩4分くらい</dd>
        		<dt>URL</dt>
        		<dd>https://www.google.co.jp</dd>
        		<dt>定員</dt>
        		<dd>30</dd>
        		<dt>園のひとこと</dt>
        		<dd>とってもきれいな保育園です</dd>
        </dl>
     </section>

     <section>
     	<h4 class="title_pink_bar">運営元情報</h4>
        <!--slider-->
        <div id="mainVisual">
            <div class="flex-container">
                <div class="flexslider">
                    <ul class="slides">
                    <li><img src="{%$static_url%}user/img/dummy/dummy_slide.jpg" alt="" /></li>
                    <li><img src="{%$static_url%}user/img/dummy/dummy_slide.jpg" alt="" /></li>
                    <li><img src="{%$static_url%}user/img/dummy/dummy_slide.jpg" alt="" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/slider-->
        <dl class="job_detail_table">
        		<dt>法人名</dt>
        		<dd>{employer.name}</dd>
        		<dt>ひとこと</dt>
        		<dd>一緒に満足いく転職をしましょう！</dd>
        		<dt>所在地</dt>
        		<dd>東京都港区三田１－１－１</dd>
        		<dt>創業</dt>
        		<dd>2015-02-11</dd>
        		<dt></dt>
        		<dd></dd>
        </dl>
     </section>

     <section>
     	<h4 class="title_pink_bar">選考の流れ</h4>
        <p class="job_detail_txt">保育士求人ひろば 選考の流れ保育士求人ひろば 選考の流れ保育士求人ひろば 紹介の流れ保育士求人ひろば 紹介の流れ保育士求人ひろば 紹介の流れ保育士求人ひろば 紹介の流れ保育士求人ひろば 紹介の流れ保育士求人ひろば 紹介の流れ</p>
     </section>
 
     <!--re-serch button-->   
        <p class="reserch_button job_list_sec"><a href="../index.html">条件を変えて検索する</a></p>
        
    <!--Popularity job-->
    <section class="job_new">
    		<h4 class="title_joblist title_redbar">このエリアの人気求人はこちら</h4>
         <!--job1--> 
         <a href="../job/detail.html">
         <section class="job_detail_box">
             <div class="job_detail_img"><img src="{%$static_url%}user/img/dummy/dummy_job_img.jpg" alt=""/></div>
 			<div class="job_detail">
                 <h5 class="job_detail_title">自転車通勤OK！午後からの短時間パートさ集・・・</h5>
                 <dl>
                    <dt>勤務地</dt>
                    <dd>あおぞら保育園 / 東京都練馬区</dd>
                 </dl>
                 <dl>
                    <dt>雇用形態</dt>
                    <dd>パート</dd>
                 </dl>
             </div>
             <i class="icon_arrow"></i>
         </section>
         </a>
         <!--job2--> 
         <a href="../job/detail.html">
         <section class="job_detail_box">
             <div class="job_detail_img"><img src="{%$static_url%}user/img/dummy/dummy_job_img.jpg" alt=""/></div>
 			<div class="job_detail">
                 <h5 class="job_detail_title">自転車通勤OK！午後からの短時間自転車通勤OK！</h5>
                 <dl>
                    <dt>勤務地</dt>
                    <dd>あおぞら保育園 / 東京都練馬区</dd>
                 </dl>
                 <dl>
                    <dt>雇用形態</dt>
                    <dd>パート</dd>
                 </dl>
             </div>
             <i class="icon_arrow"></i>
         </section>
         </a>
         <!--job3--> 
         <a href="../job/detail.html">
         <section class="job_detail_box">
             <div class="job_detail_img"><img src="{%$static_url%}user/img/dummy/dummy_job_img.jpg" alt=""/></div>
 			<div class="job_detail">
                 <h5 class="job_detail_title">自転車通勤OK！午後からの短時間パートさ集・・・</h5>
                 <dl>
                    <dt>勤務地</dt>
                    <dd>あおぞら保育園 / 東京都練馬区</dd>
                 </dl>
                 <dl>
                    <dt>雇用形態</dt>
                    <dd>パート</dd>
                 </dl>
             </div>
             <i class="icon_arrow"></i>
         </section>
         </a>
         <!--more button-->
         <a href="#"><p class="button_more">もっと見る</p></a>

         </section>
{%include file="sp/user/common/sub_content.html"%}
    </div>

{%include file="sp/user/common/footer.html"%}
<!--flexslider-->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
<script src="{%$static_url%}user/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
        $("document").ready(function(){
                $('.flexslider').flexslider({
                                animation: "slide",              //"fade"か"slide"を選択
                                slideDirection: "horizontal",   //"horizontal"で横移動、"vertical"で縦移動
                                slideshow: true,                //trueで自動でスライドショーに
                                slideshowSpeed: 3000,           //スライドショーの間隔
                                animationDuration: 500,         //アニメーションのスピード
                                directionNav: true,             //trueで前へ、次へを表示
                                controlNav: true,               //Boolean: Create navigation for paging control of each clide? Note: Leave true for manualControls usage
                                keyboardNav: true,              //trueでキーボードの右、左で操作できるように
                                mousewheel: false,              //trueでマウスホイールで前に戻ることができるように
                                prevText: "前へ",           //前に戻るボタンのテキストを指定
                                nextText: "次へ",               //次に進むボタンのテキストを指定
                                pausePlay: false,               //trueで停止ボタンを表示
                                pauseText: 'Pause',             //停止ボタンのテキストを指定
                                playText: 'Play',               //停止ボタンを押した後のテキストを指定
                                randomize: true,               //スライドをランダムに並び替えて表示
                                slideToStart: 0,                //最初のスライドを指定(0で一番目のスライド)
                                animationLoop: true,            //trueでスライドをループさせる
                                pauseOnAction: false,            //？？
                                pauseOnHover: true,            //trueでマウスオーバーでスライドを停止に設定
                                controlsContainer: ".flex-container",          //要素を指定すると、その直下にナビゲーション、コントロールの表示される、指定しないとこの場合.flexsliderとなる
                                manualControls: "",             //スライドの数になるセレクタを指定とのことだが、省略で問題なし
                                start: function(){},            //Callback: function(slider) - Fires when the slider loads the first slide
                                before: function(){},           //Callback: function(slider) - Fires asynchronously with each slider animation
                                after: function(){},            //Callback: function(slider) - Fires after each slider animation completes
                                end: function(){}               //Callback: function(slider) - Fires when the slider reaches the last slide (asynchronous)
                });
        });
</script>
</body>
</html>
