AddDefaultCharset utf-8
php_flag  display_errors On
php_flag short_open_tag on
RewriteEngine on
RewriteCond %{REQUEST_URI} !/phpMyAdmin/
RewriteCond %{REQUEST_URI} !/contents/
RewriteCond %{REQUEST_URI} !/google4341ca443b1015ac.html
RewriteCond $1 !^(index\.php|robots\.txt|static|blog|.+\.gif$|.+\.xml$|.+\.jpeg$|.+\.jpg$|.+\.png$|.+\.woff$|.+\.js$|.+\.txt$|google[a-z0-9]+\.html|tmp_image\/_temporary_.+$)
RewriteRule ^(.*)$ /index.php/$1 [L]
