{%include file="pc/admin/shared/_header.html"%}

<!-- TOPは非表示
<div class="top-content-menu">
<a href="#" class="visible-xs " data-toggle="collapse" data-target="#top-menu">Submenu <i class="fa fa-caret-down pull-right"></i></a>
<div class="collapse in" id="top-menu">
<ul class="list-unstyled " >
<li class="active"><a href="index.html" >Home</a></li>
<li class=""><a href="ui.html" >User Interface</a></li>
<li class=""><a href="form_elements.html" >Form Elements</a></li>
<li class=""><a href="tables.html" >Tables</a></li>
<li class=""><a href="maps_google.html " >Maps</a></li>
<li class=""><a href="typography.html">Typography</a></li>
</ul>
</div>
</div>
-->
{%include file="pc/admin/shared/_footer.html"%}


