{%include file="pc/admin/shared/_header.html"%}
<div class="innerLR">
<div class="widget widget-heading-simple widget-body-white" >
<div class="widget-head">
<h4 class="heading">登録情報の確認</h4>
<!-- widget-head --></div>
<table class="plan_form">
<tr>
<th>ID</th>
<td>{%$data['id']%}</td>
</tr>
<tr>
<th>ログイン用<br>メールアドレス</th>
<td>{%$data['email']%}</td>
</tr>
<tr>
<th>パスワード</th>
<td><a href="{%base_url('manager/admins/change-pass')%}">パスワードの変更はこちら</a></td>
</tr>
</table>
<!-- div.widget --></div>

<div class="separator"></div>
<div class="form-group">
<a class="btn btn-primary" href="{%base_url('manager/admins/change-email')%}"> 登録内容を変更する</a>
</div>

<!-- separater --></div>
<!-- form-group --></div>
<!-- Content --></div>
{%include file="pc/admin/shared/_footer.html"%}