{%include file="pc/user/common/headbar.html"%}
{%include file="pc/user/common/navbar.html"%}

{%display_breadcrumb($breadcrumb)%}

<div class="content_wrapper">
<div class="content">

<ul class="job_sns">
<li>ここにSNSボタン</li>
<li>ここにSNSボタン</li>
</ul>

<div class="box jobbox_large">
<h1 class="tit_03"><span class="ico_recom">オススメ!</span>{%$job_detail_info['job_detail']['job']['title']%}</h1>
<p class="txt_right">
  <span class="ico_folder02">■</span>
  {%if $user_data['login']%}
    <a href="javascript:void(0)" id="operate_bookmark" data-job-id="{%$job_detail_info['job_detail']['job']['job_id']%}">{%if $job_detail_info['user_info']['bookmark_status']%}お気に入り追加する終わった{%else%}お気に入り追加する{%/if%}</a>
  {%else%}
    <a href="U_7">お気に入り追加する</a>
  {%/if%}
</p>
<p class="txt_learge mb20">{%nl2br($job_detail_info['job_detail']['job']['description'])%}</p>
<ul class="ico_jobtag">
{%foreach $job_detail_info['job_detail']['tags'] as $job_tag%}
  <li><a href="{%$base_url%}">{%$job_tag['tag_detail']['name']%}</a></li>
{%/foreach%}
</ul>
<!-- /.box --></div>
<ul class="jobbox_btm"><!--
--><!-- <li><a href="#" class="btn_green btn_190"><span class="ico_arrow04">&gt;</span>電話で応募する</a></li> --><!--
--><li>{%if $job_detail_info['user_info']['apply_status']%}<a href="javascript:void(0)" class="btn_pink btn_190"><span class="ico_arrow03">&gt;</span>応募済</a>{%else%}<a href="javascript:void(0)" class="btn_pink btn_190 job_apply" data-job-id="{%$job_detail_info['job_detail']['job']['job_id']%}"><span class="ico_arrow03">&gt;</span>今すぐ応募する</a>{%/if%}</li><!--
--></ul>

<ul class="job_tab"><!--
--><li><a href="job.html">求人情報</a></li><!--
--><li class="current"><a href="job2.html">紹介会社情報</a></li><!--
--></ul>
<div class="box jobbox_detail">
<p class="tit_04"><img src="images/dummy/dummy_company_s_logo.jpg" alt="">{%$nursery_info['display_name']%}</p>
<div class="column_wrapper">
<table class="column_l">
<tr>
<th nowrap>法人名</th>
<td>{%$nursery_info['contact_name']%}</td>
</tr>
<tr>
<th nowrap>ひとこと</th>
<td>{%$nursery_info['description']%}</td>
</tr>
<tr>
<th nowrap>所在地</th>
<td>{%$nursery_info['address']%}</td>
</tr>
<tr>
  {%$establish_date = date('Y年n月j日', strtotime($nursery_info["establish_date"]))%}
  {%if $establish_date != date('1000年1月1日')%}
  <th nowrap>創業</th>
  <td>{%$establish_date%}</td>
  {%/if%}
</tr>
</table>
<ul class="column_r">
{%foreach $nursery_info['images'] as $image%}
  <li><img src="{%getImageFromS3($nursery_info['client_id'], $image['name'], 'client')%}" alt=""></li>
{%/foreach%}
</ul>
<!-- /.column_wrapper --></div>

<div class="job_flow">
<p class="tit_05"><span class="ico_house01">■</span>ご紹介の流れ</p>
<p>{%$nursery_info['process']%}</p>
</div>
<!-- /.box --></div>
<ul class="jobbox_btm"><!--
--><!-- <li><a href="#" class="btn_green btn_190"><span class="ico_arrow04">&gt;</span>電話で応募する</a></li> --><!--
--><li>{%if $job_detail_info['user_info']['apply_status']%}<a href="javascript:void(0)" class="btn_pink btn_190"><span class="ico_arrow03">&gt;</span>応募済</a>{%else%}<a href="javascript:void(0)" class="btn_pink btn_190 job_apply" data-job-id="{%$job_detail_info['job_detail']['job']['job_id']%}"><span class="ico_arrow03">&gt;</span>今すぐ応募する</a>{%/if%}</li><!--
--></ul>

<p class="tit_02"><span class="ico_folder01">▽</span>このエリアの人気求人はこちら</p>
<div class="box jobbox_users">
<div class="clear">
    {%foreach $job_related_list as $related_job%}
    <a class="jobbox" href="job.html">
        <p><img src="images/dummy/dummy_job2.png" alt=""></p>
        <p>{%$related_job['title']%}</p>
        <dl>
        <dt>勤務地</dt>
        <dd>{%$related_job['address']%}</dd>
        </dl>
        <dl>
        <dt>勤務形態</dt>
        <dd>{%get_job_tag_text($related_job['tags'], 'type_employ')%}</dd>
        </dl>
        <dl>
        <dt>待遇</dt>
        <dd>{%get_job_tag_text($related_job['tags'], 'tag_job')%}</dd>
        </dl>
    </a>
    {%/foreach%}
<!-- /.clear --></div>
<p class="txt_center"><a href="search.html" class="btn_pink btn_190"><span class="ico_arrow03">&gt;</span>もっと求人を見る</a></p>
<!-- /.box --></div>

<!-- /.content --></div>

<div class="right_nav">
{%include file="pc/user/common/right_nav.html"%}
<!-- /.right_nav --></div>

<!-- /.content_wrapper --></div>

<div id="footer">
{%include file="pc/user/common/footer.html"%}
<!-- /#footer --></div>
</body>
</html>

<script type="text/javascript">
  $(document).ready(function(){
    // add bookmark
    $('#operate_bookmark').on('click', function(e){
      var target = $(e.target)
      $.ajax({
        type: 'POST',
        dataType: 'json',
        url: "{%$base_url%}" + 'user/ajax/ajax_add_bookmark',
        data: {
          job_id: target.attr('data-job-id'),
          {%$csrf_token_name%}: '{%$csrf_token_value%}'
        },
        success:function(data){
          if(data.operation == 'add' && data.status == 1) {
            target.html('お気に入り追加する終わった');
          }
          if(data.operation == 'update' && data.status == 1) {
            target.html('お気に入り追加する');
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          console.log('error happend')
        }
      });
    });
  })
</script>
