{%include file="pc/user/common/headbar.html"%}
{%include file="pc/user/common/navbar.html"%}

{%display_breadcrumb($breadcrumb)%}

<div class="content_wrapper">
<h1 class="tit_01">お問い合わせ</h1>
<div class="box">
<p class="mb10"><span class="ico_must">必須</span>マークのついている項目は、お問い合わせいただく際に入力が必須の項目です。</p>
<p class="mb20">※採用ご担当者様は<a href="{%$base_url%}user/inquire/businessoffer" class="txt_line">こちら</a>よりお問い合わせください。</p>
{%form_open('')%}
<table class="formtable">
<tr>
<th><span class="ico_must">必須</span>お名前</th>
<td>
<input type="text" name="name" class="required" value="{%set_value('name')%}">
<div class="message">
	<div class="error" data="{%$name_required%}">{%form_error('name')%}</div>
</div>
</td>
</tr>
<tr>
<th><span class="ico_must">必須</span>メールアドレス</th>
<td><input type="email" name="email" class="required" value="{%set_value('email')%}">
<p class="txt_attention"><span class="ico_attention01">！</span>携帯電話のメールアドレスを入力の際は「@fine.me」のドメインを「受信許可」に設定してください。</p>
<div class="message">
<div class="error" data="{%$email_required%}">{%form_error('email')%}</div>
</div></td>
</tr>
<tr>
<th><span class="ico_must">必須</span>件名</th>
<td><input type="text" class="form_size500 required" name="title" value="{%set_value('title')%}">
<div class="message">
<div class="error"  data="{%$title_required%}">{%form_error('title')%}</div>
</div></td>
</tr>
<tr>
<th><span class="ico_must">必須</span>内容</th>
<td><textarea name="content" class="required">{%set_value('content')%}</textarea>
<div class="message">
<div class="error" data="{%$content_required%}">{%form_error('content')%}</div>
</div></td>
</tr>
</table>
<div class="message">
<div class="error text-center" ><noscript>{%$noscript%}</noscript></div>
</div>


<p class="txt_center mt30"><a href="" rel="nofollow"  class="btn_pink btn_190 submit"><span class="ico_arrow03">&gt;</span>送信する</a></p>

<script src="{%$static_url%}user/js/contact.js"></script>

</form>
<!-- /.box --></div>


<!-- /.content_wrapper --></div>


{%include file="pc/user/common/footer.html"%}
</body>
</html>
