{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}
<!--main_content-->
<div class="main">

    <!--contact complete-->
     <section>
     	<h4 class="title_pink_bar">404 Not Found</h4>
        <div class="form_txt">
            <p>お探しのページは見つかりません。<br>一時的にアクセスできない状況にあるか、ページが移動もしくは削除されて存在しない可能性があります。</p>
            <p>URLをもう一度ご確認いただくか、時間をおいて再度ご覧ください。もしくは、トップページからもう一度該当のページをお探しください。</p>
        </div>
     </section>

{%include file="sp/user/common/sub_content.html"%}      
</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}
</body>
</html>

