<table class="formtable">
    <tr>
        <th>
            <span class="ico_must">必須</span>メールアドレス<br>
            <strong>※ログインIDにも使用します</strong>
        </th>
        <td>
            <input class="form_pink" id="mail" name="mail" type="text" placeholder="例）info-hoiku@fine.me" maxlength=256>
            <p class="txt_attention"><span class="ico_attention01">！</span>携帯電話のメールアドレスを入力の際は「@fine.me」のドメインを「受信許可」に設定してください。</p>
            <div class="message msgerror_mail">
                <div id="mail_err" class="display_none">※メールアドレスを正しく入力してください。</div>
                <div id="mail_exist" class="display_none">※このメールアドレスは既に登録されています。
                <p class="mt10"><a href="{%$base_url%}login{%if !empty($type)&&$type==='add_job'%}?aj=1{%/if%}" class="registered_login btn_white btn_240b"><span class="ico_arrow02">&gt;</span>ログインする</a></p>
                </div>
                <div id ="mail_check_length" class="display_none">255文字以下で入力してください。</div>
            </div>
        </td>
    </tr>
    <tr>
        <th><span class="ico_must">必須</span>パスワード</th>
        <td><input id="password" name="password" type="password" class="form_pink form_size180" maxlength=32><span class="txt_small ml15">※6文字以上の半角英数字と記号で入力してください。<!-- ※パスワードに使用可能な記号：（　-$@#!%^*&':()+?;"=,]~<>|{}[]　） --></span>
            <div class="message msgerror_password">
                <div id="password_err" class="display_none">※パスワードを正しく入力してください。</div>
                <div id="password_xss_err" class="display_none">※使用できないパスワードです。</div>
                <div id ="password_check_length" class="display_none">255文字以下で入力してください。</div>
            </div>
            <p class="mt25 mb5">確認用にもう一度同じパスワードを入力してください。</p> <input id="passconf" type="password" class="form_pink form_size180" maxlength=32>
            <div class="message msgerror_passconf">
                <div id="passconf_err" class="display_none">※確認用のパスワードを入力してください。</div>
                <div id="passconf_incorrect" class="display_none">※入力した内容が一致していません</div>
                <div id ="passconf_check_length" class="display_none">255文字以下で入力してください。</div>
            </div>
        </td>
    </tr>
    <tr>
        <th><span class="ico_must">必須</span>氏名</th>
        <td>
            <input class="form_pink" id="name" name="name" type="text" placeholder="例）保育 育美"><span class="txt_small ml15">※全角のみで入力してください。</span>
            <div class="message msgerror_name">
                <div id="name_err" class="display_none">※氏名を正しく入力してください。</div>
                <div id ="name_check_length" class="display_none">255文字以下で入力してください。</div>
            </div>
        </td>
    </tr>
    <tr>
        <th><span class="ico_must">必須</span>氏名カナ</th>
        <td><input id="kana" class="form_pink" name="kana" type="text" placeholder="例）ホイク イクミ"><span class="txt_small ml15">※カタカナのみで入力してください。</span>
            <div class="message msgerror_kana">
                <div id="kana_err" class="display_none">※フリカナを正しく入力してください。</div>
                <div id ="kana_check_length" class="display_none">255文字以下で入力してください。</div>
            </div>
        </td>
    </tr>
    <tr>
        <th><span class="ico_must">必須</span>生年月日</th>
        <td>
            <select name="birth_year" id="birth_year">
                {%foreach $year as $val%}
                <option {%if $val==1990%} selected="selected" {%/if%}value="{%$val%}">{%$val%}</option>
                {%/foreach%}
            </select>年
            <select name="birth_month" id="birth_month">
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>月
            <select name="birth_day" id="birth_day">
                {%for $i=1 to 31%}
                <option value="{%$i%}">{%$i%}</option>
                {%/for%}
            </select>日</td>
    </tr>
    <tr>
        <th><span id="gender" class="ico_must">必須</span>性別</th>
        <td>
            <label><input name="gender" value="1" type="radio" checked="checked">女性</label>
            <label><input name="gender" value="2" type="radio" class="ml20">男性</label>
        </td>
    </tr>
    <tr>
        <th><span id="address" class="ico_must">必須</span>現住所</th>
        <td><dl>
                <dt>郵便番号</dt>
                <dd>
                    <input id="zip1" name="zip1" type="text" maxlength="3" class="form_pink form_size100" placeholder="例）160" style="width: 100px;">
                    - <input id="zip2" name="zip2" type="text" maxlength="4" class="form_pink form_size100" placeholder="例）0023" style="width: 100px;"><span class="txt_small ml15">※半角数字（0～9）で入力してください。</span>
                    <div class="message msgerror_zip1">
                        <div id="zip_err" class="display_none">※郵便番号を正しく入力してください。</div>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>都道府県</dt>
                <dd>
                    <select id="address_pref" name="address_pref" class="form_pink">
                        <option value="">選択してください</option>
                        {%foreach $area["pref"] as $pref%}
                        <option value="{%$pref['name']%}" data-pref_id="{%$pref['pref_id']%}">{%$pref['name']%}</option>
                        {%/foreach%}
                    </select>
                    <div class="message msgerror_address_pref">
                        <div id="address_pref_err" class="display_none">※選択してください</div>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>市区町村</dt>
                <dd>
                    <select id="address_city" name="address_city" class="form_pink">
                        <option value="">選択してください</option>
                        {%foreach $area["city"] as $city%}
                        <option class="city_pref_id_{%$city['pref_id']%}" value="{%$city['name']%}" data-city_area_id="{%$city['area_id']%}" data-pref_id="{%$city['city_id']%}">{%$city['name']%}</option>
                        {%/foreach%}
                    </select>
                    <div class="message msgerror_address_city">
                        <div id="address_city_err" class="display_none">※選択してください</div>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt></dt>
                <dd>
                    <input id="area_id" name="area_id" type="hidden" value="">
                    <input id="address_detail" name="address_detail" type="text" class="form_size500" placeholder="例）西新宿1-22-2 新宿サンエービル 2階"><span class="txt_small ml15">※任意</span>
                    <div class="message msgerror_address_detail">
                        <div id="address_detail_err" class="display_none">※全角文字と半角数字、ハイフンのみで入力してください。</div>
                        <div id ="address_detail_check_length" class="display_none">255文字以下で入力してください。</div>
                    </div>
                </dd>
            </dl>
        </td>
    </tr>
    <tr>
        <th><span class="ico_must">必須</span>電話番号</th>
        <td><input id="tel" name="tel" type="text" class="form_size180 form_pink onlynum" maxlength="11" placeholder="例）0359088005"><span class="txt_small ml15">※半角数字（0～9）で入力してください。ハイフン（-）は要りません。</span>
            <div class="message msgerror_tel">
                <div id="tel_err" class="display_none">※入力してください</div>
                <div id="tel_num_err" class="display_none">※電話番号は数字のみで入力してください</div>
            </div>
        </td>
    </tr>
    <tr>
        <th><span id="license" class="ico_must">必須</span>資格</th>
        <td>
            <ul class="formtable_license">
                {%foreach $license item=name key=key%}
                <label><li><input type="checkbox" class="license" name="license[]" value="{%$key%}">{%$name%}</li></label>
                {%/foreach%}
            </ul>
            <div class="message msgerror_license">
                <div id="license_err" class="display_none">※最低一つチェックをしてください。該当するものがない場合は無資格を選択してください。</div>
            </div>
        </td>
    </tr>
    <tr>
        <th><span class="ico_must">必須</span>希望する雇用形態</th>
        <td>{%html_options id=employee name=employee options=$employee%}
            <div class="message msgerror_employee">
                <div id="employee_err" class="display_none">希望する雇用形態を選択してください。</div>
            </div>
        </td>
    </tr>
</table>
