{%include file="pc/user/common/headbar.html"%}
{%include file="pc/user/common/navbar.html"%}

{%display_breadcrumb($breadcrumb)%}

<div class="content_wrapper">
<div class="content">

<h1 class="tit_01">応募完了</h1>
<div class="box comps">
<p class="comps_tit">応募が完了いたしました。</p>
<p>応募先からの連絡をお待ちください。</p>
<!-- /.box --></div>

<!-- /.content --></div>
{%include file="pc/user/common/rightnav.html"%}
<!-- /.content_wrapper --></div>
{%include file="pc/user/common/footer.html"%}
</body>
<script>
  jQuery(document).ready(
    function() {
    ga('set','dimension1','login');
    ga('send','pageview','/detail̲{%$job_detail["job_id"]%}/apply̲complete/signup');
    }
  );
</script>
</html>
