{%include file="pc/user/common/headbar.html"%}
{%include file="pc/user/common/navbar.html"%}

{%display_breadcrumb($breadcrumb)%}
<div class="content_wrapper">
<h1 class="tit_01">会員登録完了</h1>
<div class="box comps">
<p class="comps_tit">FINE!への会員登録が完了いたしました。</p>
<p>ご登録ありがとうございます。本登録が完了しました。<br>以降はご登録いただきましたメールアドレスとパスワードでログインいただけます</p>
<p class="txt_center"><a href="{%$base_url%}login" class="btn_pink btn_200"><span class="ico_arrow03">&gt;</span>ログインページへ移動</a></p>
<!-- /.box --></div>

<!-- /.content_wrapper --></div>

{%include file="pc/user/common/footer.html"%}
</body>
</html>
