{%include file="pc/user/common/headbar.html"%}
{%include file="pc/user/common/navbar.html"%}

{%display_breadcrumb($breadcrumb)%}
<div class="content_wrapper">
<h1 class="tit_01">仮登録完了</h1>
<div class="box comps">
<p class="comps_tit">会員情報の仮登録が完了いたしました。</p>
<p>ご登録ありがとうございます。<br>ご登録いただいたメールアドレスへ、登録確認のメールを送らせていただきました。</p>
<p>こちらより登録の最終確認を行ってください。</p>
<p>ご登録メールが届かない方は、<a href="{%$base_url%}inquiry/">こちら</a>からお問い合わせください。</p>
<!-- /.box --></div>

<!-- /.content_wrapper --></div>
{%include file="pc/user/common/footer.html"%}
</body>
</html>
