@import url('font-awesome/4.3.0/css/font-awesome.css');

.msg-info, .msg-success, .msg-warning, .msg-error {
	margin: 10px 0px;
	padding:5px;
}
.msg-info {
    color: #00529B;
    background-color: #BDE5F8;
}

.msg-success {
    color: #8AB953;
    background-color: #DFF2BF;
}

.msg-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.msg-error {
    color: #ff3366;
    background-color: #FFBABA;
}

.msg-info i, .msg-success i , .msg-warning i , .msg-error i{
	margin:10px 10px;
    font-size:2em;
    vertical-align:middle;
}