{%include file="pc/admin/shared/_header.html"%}
<div class="innerLR">
<div class="widget widget-heading-simple widget-body-white" >
<div class="widget-head">
<h4 class="heading">テキストリンク集の編集</h4>
<!-- widget-head --></div>
<table class="plan_form">
{%form_open('manager/ads/text/update')%}
<input type="hidden" name="global[group_id]" value="{%$group%}" />
<input type="hidden" name="global[type]" value="{%$type%}" />
<!-- <tr>
<th>タイトル</th>
<td><input type="text" placeholder="[text|title]" class="form-control plan_form" /></td>
</tr> -->
<tr>
<th>エリア</th>
<td>
{%foreach from=$states item=state%}
<div class="radio lined_div">
<label class="radio-custom">
    <input type="radio" name="global[area_id]" value="{%$state['area_id']%}" {%state_is_checked($state['area_id'], $global['area_id'])%}>
    <i class="fa fa-fw fa-square-o"></i>{%$state['name']%}</label>
</div>
{%/foreach%}
</tr>
<tr>
<th>開始日</th>
<td><input name="global[start_date]" class="form-control datepicker1" type="text" value="{%$global['start_date']%}"   data-validation = "required" data-validation-error-msg="<span style='color:red'>　開始日は必須項目です.</span>"/></td>
</tr>
<tr>
<th>終了日</th>
<td><input name="global[end_date]" class="form-control datepicker1" type="text" value="{%$global['end_date']%}"   data-validation = "required" data-validation-error-msg="<span style='color:red'>　終了日は必須項目です.</span>"/></td>
</tr>
<tr>
<th>表示非表示</th>
<td><div class="make-switch" data-on="success" data-off="default"><input type="checkbox" name="global[status]" {%status_is_checked($global['status'])%}></div></td>
</tr>
</table>
<!-- widget --></div>


{%foreach from=$rows key=k item=row%}
<div class="widget widget-heading-simple widget-body-white mini-div" >
<table class="plan_form">
<input type="hidden" name="ads_id[]" value="{%$row['ads_id']%}" />
<tr>
<th>表示順</th>
<td><select class="selectpicker col-md-6" data-style="btn-success" name="ordered[]">
<option value="0" {%selected_is_checked(0, $row['ordered'])%}>-</option>
<option value="1" {%selected_is_checked(1, $row['ordered'])%}>1</option>
<option value="2" {%selected_is_checked(2, $row['ordered'])%}>2</option>
<option value="3" {%selected_is_checked(3, $row['ordered'])%}>3</option>
<option value="4" {%selected_is_checked(4, $row['ordered'])%}>4</option>
<option value="5" {%selected_is_checked(5, $row['ordered'])%}>5</option>
<option value="6" {%selected_is_checked(6, $row['ordered'])%}>6</option>
<option value="7" {%selected_is_checked(7, $row['ordered'])%}>7</option>
<option value="8" {%selected_is_checked(8, $row['ordered'])%}>8</option>
<option value="9" {%selected_is_checked(9, $row['ordered'])%}>9</option>
<option value="10" {%selected_is_checked(10, $row['ordered'])%}>10</option>
</select>
</td>
</tr>
<tr>
<th>テキスト</th>
<td><input type="text" name="title[]" value="{%$row['title']%}" class="form-control plan_form"  data-validation = "required" data-validation-error-msg="<span style='color:red'>　テキストは必須項目です.</span>"/></td>
</tr>
<tr>
<th>リンク先URL</th>
<td><input type="text" name="url[]" value="{%$row['url']%}" class="form-control plan_form"  data-validation = "required" data-validation-error-msg="<span style='color:red'>　リンク先URLは必須項目です.</span>"/></td>
</tr>
</table>
<!-- widget --></div>
{%/foreach%}

<div class="separator"></div>
<div class="form-group">
<input class="btn btn-primary" type="submit" value="この内容で登録する">
<input class="btn btn-default" type="submit" value="削除">
</div>

{%form_close()%}
<!-- separater --></div>

<!-- innnerLR --></div>
<!-- Content --></div>
{%include file="pc/admin/shared/_footer.html"%}
