{%include file="pc/user/common/headbar_logged.html"%}
{%include file="pc/user/common/navbar_logged.html"%}
{%display_breadcrumb($breadcrumb)%}

<div class="content_wrapper">
	<div class="content">

		<h1 class="tit_01">求人を紹介してもらう</h1>
		<div class="box agency">
			<p class="txt_learge mb25">
				紹介会社が、あなたに代わって条件にあう求人を探してくれます。<br>
				ホームページ上で非公開となっている好条件の求人を紹介してもらえるかも…？！<br>
				求人紹介を依頼するエージェントを選択し、チェックを入れてください。<br> 何社でも依頼をすることが出来ます。
			</p>
			<!--
-->
			<div class="agency_box">
				<h2 class="tit_04">
					<label><input type="checkbox"><span>オススメ！</span>NEO
						Career</label>
				</h2>
				<p>
					<img src="images/dummy/dummy_company_logo.jpg" alt="">
				</p>
				<p class="txt_learge">一緒に満足のいく転職をしましょう！一緒に満足のいく転職をしましょう！</p>
				<table>
					<tr>
						<th>得意エリア</th>
						<td>北海道、東北、関東</td>
					</tr>
					<tr>
						<th>得意職種</th>
						<td>保育士</td>
					</tr>
				</table>
				<!-- /.agency_box -->
			</div>
			<!--
-->
			<div class="agency_box">
				<h2 class="tit_04">
					<label><input type="checkbox"><span>オススメ！</span>NEO
						Career</label>
				</h2>
				<p>
					<img src="images/dummy/dummy_company_logo.jpg" alt="">
				</p>
				<p class="txt_learge">一緒に満足のいく転職をしましょう！一緒に満足のいく転職をしましょう！</p>
				<table>
					<tr>
						<th>得意エリア</th>
						<td>北海道、東北、関東</td>
					</tr>
					<tr>
						<th>得意職種</th>
						<td>保育士</td>
					</tr>
				</table>
				<!-- /.agency_box -->
			</div>
			<!--
-->
			<div class="agency_box">
				<h2 class="tit_04">
					<label><input type="checkbox"><span>オススメ！</span>NEO
						Career</label>
				</h2>
				<p>
					<img src="images/dummy/dummy_company_logo.jpg" alt="">
				</p>
				<p class="txt_learge">一緒に満足のいく転職をしましょう！一緒に満足のいく転職をしましょう！</p>
				<table>
					<tr>
						<th>得意エリア</th>
						<td>北海道、東北、関東</td>
					</tr>
					<tr>
						<th>得意職種</th>
						<td>保育士</td>
					</tr>
				</table>
				<!-- /.agency_box -->
			</div>
			<!--
-->
			<p class="txt_center">
				<a href="apply_agency.html" class="btn_pink btn_190"><span
					class="ico_arrow03">&gt;</span>応募内容の確認画面へ</a>
			</p>
			<!-- /.box -->
		</div>

		<!-- /.content -->
	</div>

	{%include file="pc/user/common/rightnav.html"%}
	<!-- /.content_wrapper -->
</div>
{%include file="pc/user/common/footer.html"%}

</body>
</html>
