{%include file="pc/user/common/headbar_logged.html"%}
{%include file="pc/user/common/navbar_logged.html"%}

{%display_breadcrumb($breadcrumb)%}
<div class="content_wrapper">
<div class="content">

{%include file="pc/user/common/mypagemenu.html"%}

<h1 class="tit_01">登録情報の変更完了</h1>
<div class="box comps">
<p class="comps_tit">登録情報の変更が完了いたしました。</p>
<p class="txt_center"><a class="btn_190 btn_pink" href="{%$base_url%}user/mypage/profile"><span class="ico_arrow03">&gt;</span>登録情報へ戻る</a></p>
<!-- /.box --></div>
<!-- /.content --></div>

{%include file="pc/user/common/right_nav.html"%}
<!-- /.content_wrapper --></div>
{%include file="pc/user/common/footer.html"%}
</body>
</html>
