{%include file="pc/admin/shared/_header.html"%}
{%include file="pc/admin/contact/_nav.html"%}
<div class="innerLR">

<h2>スカウト内容</h2>
<div class="row innerAll inner-2x">
<div class="col-sm-6" style="width:95%;">
<dl class="lined_dl">
<dt>スカウトID</dt>
<dd>{%nl2br($data['scout_id'])%}</dd>
</dl>
<dl class="lined_dl">
<dt>送信者</dt>
<dd><a href="{%base_url()%}client/detail/{%nl2br($data['client_id'])%}" target="_blank">{%nl2br($data['companyname'])%}</a>　（表示企業名: {%nl2br($data['display_name'])%}）</dd>
</dl>
<dl class="lined_dl">
<dt>対象求人</dt>
<dd><a href="{%base_url('admin/jobs/detail')%}/{%nl2br($data['job_id'])%}" target="_blank">{%nl2br($data['job_id'])%} / {%nl2br($data['title'])%}</a></dd>
</dl>
<dl class="lined_dl">
<dt>ユーザー</dt>
<dd><a href="{%base_url('admin/users/detail')%}/{%nl2br($data['user_id'])%}" target="_blank">{%nl2br($data['user_id'])%} / {%nl2br($data['username'])%}</a></dd>
</dl>
<dl class="lined_dl">
<dt>内容</dt>
<dd>{%nl2br($data['content_after'])%}</dd>
</dl>
<dl class="lined_dl">
<dt>送信日時</dt>
<dd>{%nl2br($data['created'])%}</dd>
</dl>

<div class="form-group">
<a href="{%base_url()%}admin/scout/"><button class="btn btn-primary">戻る</button></a>
</div>
<!-- separater --></div>
<!-- form-group --></div>


<!-- Content --></div>
{%include file="pc/admin/shared/_footer.html"%}
