{%include file="pc/user/common/headbar.html"%}
{%include file="pc/user/common/navbar.html"%}

{%display_breadcrumb($breadcrumb)%}
<div class="content_wrapper">
<div class="content">

<h1 class="tit_01">ログインパスワードの再設定を受け付けました</h1>
<div class="box password">
<p class="txt_center">ログインパスワードの再設定用のメールをご登録いただいたメールアドレスに送りました。<br>メールのURLリンクよりパスワードの再設定をお願いいたします。</p>
<!-- /.box --></div>

<!-- /.content --></div>

{%include file="pc/user/common/right_nav.html"%}
<!-- /.content_wrapper --></div>
{%include file="pc/user/common/footer.html"%}

</body>
</html>
