{%include file="pc/user/common/headbar.html"%}
{%include file="pc/user/common/navbar.html"%}

{%display_breadcrumb($breadcrumb)%}
<div class="content_wrapper">
<div class="content">

<h1 class="tit_01">ログインパスワードの再設定完了</h1>
<div class="box password">
<p class="txt_center">ログインパスワードを再設定しました。ログインしてご利用ください。</p>
<p class="txt_center"><a href="{%$base_url%}login" class="btn_pink btn_190"><span class="ico_arrow03">&gt;</span>ログインページへ移動</a></p>
<!-- /.box --></div>

<!-- /.content --></div>

{%include file="pc/user/common/right_nav.html"%}
<!-- /.content_wrapper --></div>
{%include file="pc/user/common/footer.html"%}

</body>
</html>>
