{%form_open('', ['method' => 'POST', 'class' => 'frmsubmit', 'id' => 'frmsubmit', 'name' => 'pending'])%}
	<p class="tit_04">非課金申請</p>
	<table class="table02">
		<tbody>
			<tr>
				<th>非課金申請の有無</th>
				<td>{%$detailUserApplied['applied']['paid']%}</td>
			</tr>
			<tr>
				<th>申請理由</th>
				<td>{%$detailUserApplied['applied']['client_comment']%}
				</td>
			</tr>
			<tr>
				<th>状態</th>
				<td>{%$detailUserApplied['applied']['applied_status']%}</td>
			</tr>
		</tbody>
	</table>
	
	<input type="hidden" name="applied" value="{%$detailUserApplied['applied']['applicant_agency_id']%}" />
	<input type="hidden" name="user_id" value="{%$detailUserApplied['applied']['user_id']%}" />
	<input type="hidden" name="form" value="pending" />
	{%form_error('applied')%}
	
	<p class="txt_center mt20">
		<a href="javascript:void(0)" class="btn_gray btn_190 submit"><span class="ico_arrow05">&gt;</span>申請を取り下げる</a>
	</p>
</form>
<script type="text/javascript">
$(document).ready(function(){
	$('a.submit').click(function(event){
		event.preventDefault();
		var action = jQuery(this).attr('href');
		var form = jQuery(this).parents('form');
		$(form).submit();
		return false;
	});
});
</script>