<!-- Render form -->
{%form_open('user/campaign/confirm',['class' => 'form-control', 'id' =>
'formPC', 'ENCTYPE' => 'multipart/form-data'])%}
<!-- End -->

{%include file="pc/user/campaign/_confirm_form.html"%}

<tr>
	<td colspan="2" class="at"><p style="padding-bottom: 10px;">
			<span style="color: #ff3366;"><a href="kiyaku"
				style="color: #333333;" target="_blank">利用規約</a></span>
			下記の利用規約をお読みの上、ご登録ください。
		</p>
		<div class="kiyaku">
			<pre>
-------------------
会員利用規約
-------------------
第1条（会員）
「FINE!」会員（以下、「会員」といいます）とは、「FINE!」に個人情報（プライバシーポリシーの定義に従います）およびその他の情報を登録し、株式会社ネオキャリア（以下、「弊社」といいます）が承諾した者をいいます。会員登録および弊社承諾後に会員は「FINE!」における会員向けサービス（以下、「会員サービス」といいます）を利用できるものとします。

第2条（会員登録）
1.会員登録を希望する者（以下、「申込者」といいます）は「FINE!」の会員登録ページの「同意する」をクリックし、会員登録を申し込んだ時点で、「FINE!」会員規約（以下、「会員規約」といいます）およびプライバシーポリシーの内容をすべて承諾したものとみなされます。不承諾の意思表示は、「FINE!」への会員登録を申し込まないことをもってのみ認められるものとします。
2.申込者は、弊社所定の方法により、会員登録の申し込みを行うものとします。
3.弊社は、前項の申し込みについて弊社所定の審査を行います。
4.弊社は、申込者が以下の各号のいずれかに該当する場合、または該当するおそれがあると判断した場合には、その会員登録を承諾しないことがあります。
（1）弊社に提供された登録情報の全部または一部に、虚偽の記載、誤記または記入漏れがある場合
（2）申し込みの時点で、会員規約の違反行為を現に行い、または行うおそれがあると弊社が判断した場合
（3）申込者が過去に第5条に基づき会員登録を除名された場合
（4）その他、弊社が会員登録を不適当と判断した場合
5.弊社は申込者の会員登録を承諾しないことについて一切の責任を負いません。また承諾しない理由を申込者に説明する義務を負わず、申込者はそれについて異議を申し立てないものとします。

第3条（会員の責任）
1.申込者は、自らの意思および責任をもって「FINE!」に会員登録し、会員になるものとします。
2.会員は、自らの意思および責任をもって「FINE!」を利用し、弊社がお知らせする利用方法に従うものとします。
3.会員は、「FINE!」に登録するすべての情報について、その正確性、真実性、最新性等一切の責任を負うものとします。
4.会員は、自己の責任において、「FINE!」の会員専用ページにログインするためのIDおよびパスワード（以下、「IDおよびパスワード」といいます）を管理および保管するものとし、これを第三者に利用させたり、貸与、譲渡、名義変更、売買等をしてはならないものとします。
5.IDおよびパスワードの管理不十分、使用上の過誤、第三者の使用等による損害の責任は会員が負うものとし、弊社は一切の責任を負わないものとします。
6.IDおよびパスワードの盗難があった場合、またはIDおよびパスワードが第三者に使用されていることが判明した場合は、該当するIDおよびパスワードの利用を停止する場合があります。

第4条（会員登録情報の変更・削除等）
1.会員は、「FINE!」の会員専用ページにおいて、自ら「FINE!」に登録した情報をいつでも変更・追加・削除することができ、会員登録を抹消することができるものとします。
2.会員が会員登録の抹消を行わない場合、または抹消意思がない場合であっても、「FINE!」の会員専用ページに1年間に1度もログインしなかった場合には、会員登録が抹消されることがあります。
3.会員が「FINE!」上に登録した情報の全部または一部に誤りがあったために、求人企業から苦情または会員登録情報の削除依頼があった場合は、当該会員に対し事前に通知することなく、弊社が当該会員登録情報の全部または一部を削除することがあります。
4.「FINE!」のデータベースに会員が保存している求人企業等との送受信データのうち、過去3ヶ月以上のものは自動的に削除されます。保存したいメールがある場合は、会員専用ページから保存設定を行ってください。
5.会員が「FINE!」からのメールの配信停止を希望しない場合であっても、宛先不明等のエラーが発生した場合は、「FINE!」データベースメンテナンスの際にメールの配信先から削除されることがあります。

第5条（除名）
弊社は、会員が会員規約に違反したと判断した場合、当該会員に対し事前に通知することなく、当該会員の会員サービスの全部または一部の利用を一時中止、または「FINE!」の会員から除名することがあります。

第6条（会員サービスの変更等）
1.弊社は、会員に対し事前に通知することなく、会員サービスの変更または一時的な中断を行うことができるものとします。
2.弊社は、1ヶ月間の予告期間をもって会員に通知し、会員サービスの提供を長期的に中断または終了することができるものとします。
3.前二項により、会員に損害が発生した場合でも、弊社は会員に対して何ら責任を負わないものとします。

第7条（会員サービスの一時的な中止・変更・廃止）
弊社は、以下の事由に該当すると判断した場合には、会員に対し事前に通知および承諾を得ることなく、「FINE!」の一時的な中断ができるものとします。
1.システムの保守または変更を行う場合
2.コンピュータまたは通信回線等の事故により停止した場合
3.天変地異その他の不可抗力によって、「FINE!」の提供が困難な場合
4.その他、弊社がやむを得ないと判断する場合

第8条（会員規約の変更）
弊社は、会員規約を随時変更できるものとし、変更の内容については「FINE!」上に1ヶ月表示した時点で、すべての会員が承諾したものとみなします。

第9条（損害賠償の請求）
会員が会員規約に反した行為、または不正または違法に「FINE!」を利用することにより、弊社に損害を与えた場合、弊社は該当会員に対して損害賠償の請求を行う場合があります。

第10条（準拠法）
会員規約は日本国法の適用を受け、日本国の法令に基づいて解釈されるものとします。

第11条（所轄裁判所）
「FINE!」に関連して、会員と弊社との間に紛争が生じ、協議によって解決を図ることができない場合は、東京地方裁判所を第一審の専属的合意管轄裁判所とします。


付則
2014年12月5日適用</pre>
		</div> <!-- consultant Begin -->
		<div>
			<p class="consult">
				<img src="{%$static_url%}lp/img/value_resource.png" alt="コンサルタント" />
			</p>
			<p style="font-size: 10px; line-height: 1.5em; text-align: left;">
				チェックを入れると、表示した企業の保育専門のコンサルタントから連絡が入ります。<br>ご登録になった個人情報の修正や削除等のご連絡は、表示の企業までお願いします。
				<input type="checkbox" style="float: right; margin-right: 4px;"
					checked="" value="1" name="checked">
			</p>
		</div> <!-- consultant End -->
		<p style="padding: 10px 0 10px 0;">
			<input id="YourbuttonId" name="submit" type="image"
				onmouseover="this.src='{%$static_url%}lp/img/sec1_form_btn_on.png'"
				onmouseout="this.src='{%$static_url%}lp/img/sec1_form_btn.png'"
				value="この内容で登録する" src="{%$static_url%}lp/img/sec1_form_btn.png">
		</p></td>
</tr>
</table>
</form>