{%include file="pc/user/campaign/common/header_complete/header.html"%}
	<article>

		<header id="pcheader">
			<a name="pageTop" id="pageTop"></a>
			<h1>
				<img src="{%$static_url%}lp/img/logo.png" alt="FINE!" />
				<p>日本最大級 保育士転職サイト</p>
			</h1>
		</header>
		<header id="spheader">
			<a name="pageTop" id="pageTop"></a>
			<h1>
				<img src="{%$static_url%}lp/img/logo.png" alt="FINE!" width="60" />
				<p>日本最大級 保育士転職サイト</p>
			</h1>
		</header>


		<section id="thankspc">
			<div>
				<hr>
			</div>
			<div
				style="width: 706px; margin: 50px auto 50px auto; line-height: 1.5em; text-align: center">
				<p>
					<img src="{%$static_url%}lp/img/thanks.png"
						alt="『FINE!チーム』からのメッセージ
保育士求人検索サイト、『FINE!（ファイン）』にご登録いただきましてありがとうございます！登録いただいたメールアドレスにメールをお送りさせて頂きましたのでご確認ください。 私達、FINE!運営チームは、「社会にとって必要不可欠な保育士さんの立場を向上させる」という考え方のもと、保育士さんにとってより良いサービスを提供することを心がけて事業を行っています。保育のお仕事に携わるあなたが、今後も楽しく充実したお仕事ができるように、様々なメディアやサービスを提供していくつもりです。まだまだサービスとして至らぬ点はあるかもしれませんが、今後ともFINE!チームをよろしくお願いいたします。"
						width="706" height="217" />
				</p>
				<p style="margin-top: 50px;">
					<a href="{%$base_url%}"><img src="{%$static_url%}lp/img/btn_thanks.png"
						alt="" width="350" height="35" id="Image1"
						onMouseOver="MM_swapImage('Image1','','{%$static_url%}lp/img/btn_thanks_on.png',1)"
						onMouseOut="MM_swapImgRestore()" /></a>
				</p>
			</div>
			<div>
				<hr>
			</div>
		</section>

		<section id="thankssp">
			<div>
				<hr>
			</div>
			<div
				style="width: 80%; margin: 50px auto 50px auto; line-height: 1.5em; text-align: center;">
				<p>
					<img src="{%$static_url%}lp/img/thanks_ti.png" alt="『FINE!チーム』からのメッセージ
" width="80%" />
				</p>
				<p style="margin-top: 30px; font-size: 14px;">
					保育士求人検索サイト、『FINE!（ファイン）』にご登録いただきましてありがとうございます！<br>
					登録いただいたメールアドレスにメールをお送りさせて頂きましたのでご確認ください。
				</p>

				<p style="font-size: 14px;">
					私達、FINE!運営チームは、「社会にとって必要不可欠な保育士さんの立場を向上させる」という考え方のもと、保育士さんにとってより良いサービスを提供することを心がけて事業を行っています。保育のお仕事に携わるあなたが、今後も楽しく充実したお仕事ができるように、様々なメディアやサービスを提供していくつもりです。<br>まだまだサービスとして至らぬ点はあるかもしれませんが、今後ともFINE!チームをよろしくお願いいたします。
				</p>
				<p style="margin-top: 50px;">
					<a href="{%$base_url%}"><img src="{%$static_url%}lp/img/btn_thanks.png"
						alt="" width="350" height="35" id="Image11"
						onMouseOver="MM_swapImage('Image11','','{%$static_url%}lp/img/btn_thanks_on.png',1)"
						onMouseOut="MM_swapImgRestore()" /></a>
				</p>
			</div>
			<div>
				<hr>
			</div>
		</section>



		<footer>
			<p class="copyright">Copyright (c) Neo Career CO., LTD. All
				rights reserved.</p>

		</footer>
		<img
			src="https://px.a8.net/cgi-bin/a8fly/sales?pid=s00000014524002&so=217&si=1.1.1.a8"
			width="1" height="1">
	</article>
	
{%include file="pc/user/campaign/common/footer_complete/footer.html"%}
