<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="description"
    content="日本最大級 保育士求人サイト FINE!｜利用者の98.2%が満足と答えた日本最大級の保育士求人サイト。高年収、残業少なめ、研修充実など、>あなたに合ったお仕事がみつかります">
<meta name="keywords" content="転職,求人,保育士,募集,FINE">
<title>日本最大級 保育士求人サイト｜FINE!</title>
<link href="{%$static_url%}user/css/mailtip.css" rel="stylesheet" media="screen,print">
<script type="text/javascript">var STATIC_URL = '{%$static_url%}lp/';</script>
<script type="text/javascript" src="{%$static_url%}lp/js/switch.js"></script>
<script src="{%$static_url%}lp/js/jquery-1.11.2.min.js"></script>
<script src="{%$static_url%}lp/js/jquery.form-validator.min.js"></script>
<script id="common_js" src="{%$static_url%}common/js/common.js" data-base_url="{%$base_url%}" data-csrf_name="{%$csrf_token_name%}" data-csrf_value="{%$csrf_token_value%}"></script>
<!-- ga -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-57341350-3', 'auto');
ga('require', 'displayfeatures');
ga('require', 'linkid', 'linkid.js');
ga('send', 'pageview');
</script>
<!-- END ga -->
</head>
<!--
<body
    onLoad="MM_preloadImages('{%$static_url%}lp/img/sec_btn_off_sp.png','{%$static_url%}lp/img/sec_btn_on.png','{%$static_url%}lp/img/sec1_form_btn_on.png')" -->
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NC7J3X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NC7J3X');</script>
<!-- End Google Tag Manager -->

<article>
    <header id="pcheader">
        <a id="pageTop"></a>
        <h1><img src="{%$static_url%}lp/img/logo.png" alt="FINE!" id="Image4" /><p>日本最大級 保育士転職サイト</p></h1>
    </header>
    <header id="spheader">
        <a id="pageTop"></a>
        <h1><img src="{%$static_url%}lp/img/logo.png" alt="FINE!" width="60" /><p>日本最大級 保育士転職サイト</p></h1>
    </header>
    <section>
        <div id="main">
            <div class="contents">
                <!-- front↓ -->
                <div class="mainPic2">
                    <p class="text">
                        <span class="t1" style="font-size: 24px;">顧客満足度</span><br> <span class="t2" style="font-size: 51px;">98.2%</span><br> <span class="t3" style="font-size: 12px;">※楽天リサーチ調べ</span>
                    </p>
                </div>
                <div class="mainPic2_sp">
                    <img src="{%$static_url%}lp/img/sec1_bg_sp.png" alt="" />
                    <p class="text">
                        <span class="t1" style="font-size: 16px;">顧客満足度</span><span
                            class="t2" style="font-size: 35px;">98.2%</span><span class="t3"
                            style="font-size: 10px;">※楽天リサーチ調べ</span>
                    </p>
                </div>
                <!-- front↑ -->


                <div class="formArea">
                    <a name="entry" id="entry"></a>
                    <div class="formTtl">
                        <p>無料登録はこちら！</p>
                    </div>

                    <!-- ▼エントリーフォーム start -->
                    <div id="pcform">
                        <!-- ====================================== -->
                        <!-- Render form for pc -->
                        {%include file="pc/user/campaign/_form_pc_proto_a.html"%}
                        <!-- End form pc -->
                        <!-- ====================================== -->
                    </div>

                    <div id="spform">

                        <!-- ====================================== -->
                        <!-- Render form for pc -->
                        {%include file="pc/user/campaign/_form_sp_proto_a.html"%}
                        <!-- End form pc -->
                        <!-- ====================================== -->

                    </div>
                    <!-- //エントリーフォーム end -->
                    <!-- /.contents -->
                </div>
                <!-- /#main -->
            </div>
            <div id="mainInfo">
                <div class="contents">
                    <div class="flow">
                        <img src="{%$static_url%}lp/img/sec1_nagare.png" alt="登録の流れ｜step1．ご登録。登録は60秒で完了！登録後、お住まいのエリアの求人をメールにてご紹介させていただきます。step2．日程調整。気になった園があったらその場で応募！応募した園から、見学の連絡、面接の連絡がきます。step3．見学・面接。あとは面接を受けて、お互いに条件が合えば内定となります！" />
                    </div>
                </div>
                <!-- /#mainInfo -->
            </div>
        </div>
    </section>

    <!-- ====================================== -->
    <!-- Render form for pc -->
    {%include file="pc/user/campaign/list-job.html"%}
    <!-- End form pc -->
    <!-- ====================================== -->

    <footer>
        <!--p id="jobCategoryLinkOut">ご紹介エリア・条件などは<a id="jobCategoryLink">こちら</a>をご確認ください。</p-->
        <div class="scrollBox">
            <div>
                <a href="#pageTop" class="bgc1 scroll">ページ上部へ戻る</a>
            </div>
        </div>
        <ul class="lp_social">
            <li><a href="http://www.neo-career.co.jp/" target="_blank">運営会社</a></li>|
            <li><a href="http://www.neo-career.co.jp/policy.html" target="_blank">プライバシーポリシー</a></li>|
            <li><a href="https://twitter.com/fine_jpn" target="_blank"><i class="icon-twitter"></i></a></li>|
            <li><a href="https://www.facebook.com/pages/%EF%BC%A6%EF%BC%A9%EF%BC%AE%EF%BC%A5/315073388697708" target="_blank"><i class="icon-facebook"></i></a></li>
        </ul>
        <p class="copyright">Copyright (c) Neo Career CO., LTD. All rights
            reserved.</p>
    </footer>
</article>
<script src="{%$static_url%}common/js/email-autocomplete.js"></script>
<script src="{%$static_url%}common/js/jpostal.js"></script>
<script src="{%$static_url%}common/js/address_form.js"></script>
<script src="{%$static_url%}common/js/jquery.autoKana.js"></script>
<script src="{%$static_url%}common/js/date_format.js"></script>
<script src="{%$static_url%}user/js/signup.js"></script>
<script>
$('#submit_btn').hover(function(){$(this).attr('src','{%$static_url%}lp/img/sec1_form_btn_on.png');},function(){$(this).attr('src','{%$static_url%}lp/img/sec1_form_btn.png');});
$(".lp_submit").on("click",function(){if($("#spform").css('display')==='none'){$("#mainInfo").css('height',$("#pcform").position().top+$("#pcform").height()-$("#mainInfo").position().top+40)}});
</script>
{%include file="pc/user/campaign/common/footer/footer.html"%}
