@charset "utf-8";
/* CSS Document */

/* base
-----------------------------------------------*/
/* ========== universal reset ========== */
/* ========== base style ========== */
/* ========== header ========== */
/* ========== breadcrumbs ========== */
/* ========== content ========== */
/* ========== right_nav ========== */
/* ========== footer ========== */

/* common parts
-----------------------------------------------*/
/* ========== jobbox ========== */
/* ========== searchbox ========== */
/* ========== agency_box ========== */
/* ========== complete pages ========== */

/* common tips
-----------------------------------------------*/
/* ========== column ========== */
/* ========== title ========== */
/* ========== text ========== */
/* ========== margin ========== */
/* ========== button ========== */
/* ========== icon ========== */
/* ========== formtable ========== */
/* ========== page nav ========== */

/* index
-----------------------------------------------*/
/* search
-----------------------------------------------*/
/* search_agency
-----------------------------------------------*/
/* job
-----------------------------------------------*/
/* apply
-----------------------------------------------*/
/* column
-----------------------------------------------*/
/* guide
-----------------------------------------------*/
/* use
-----------------------------------------------*/
/* rule
-----------------------------------------------*/
/* login
-----------------------------------------------*/
/* password
-----------------------------------------------*/
/* register
-----------------------------------------------*/
/* mypage
-----------------------------------------------*/
/* ========== common ========== */
/* ========== mypage_agency ========== */
/* ========== mypage_bookmark ========== */
/* ========== mypage_confirm ========== */
/* ========== mypage_edit ========== */
/* ========== mypage_password========== */
/* ========== mypage_retire========== */




/* base
-----------------------------------------------*/
/* ========== universal reset ========== */
/**
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
body {
line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}
nav ul {
list-style:none;
}
blockquote, q {
quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}
a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

/* ========== base style ========== */
body{
background:#efebe2;
color:#333333;
font-size:13px;
font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
font-weight:normal;
}
h1,h2,h3,h4,h5,h6{
font-weight:normal;
}
a:link,
a:visited{
color:#333333;
text-decoration:none;
}
a:hover{
color:#888888;
text-decoration:none;
}
a:hover img{
 opacity: 0.75;
 filter: alpha(opacity=75);
 -moz-opacity: 0.75;
}
p,li,dt,dd,th,td{
line-height:140%;
}
ol,ul{
list-style:none;
}
img{
max-width:100%;
vertical-align:bottom;
}
strong{
font-weight:bold;	
}
table{
width: 100%;
border: 1px solid #cccccc;
border-collapse:collapse;
border-spacing:0;
}
th, td{
text-align:left;
border: 1px solid #cccccc;
}
th {
background: #f6f6f6;
}
input, select{
vertical-align:middle;
}
textarea, input, select{
padding:5px 10px;
background:#ffffff;
border-radius:3px;
border:1px solid #c6c6c6;
box-sizing: border-box;
font-size:13px;
font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
color:#000000;
}
input[type=checkbox],
input[type=radio] {
margin-right: 7px;
}
/*Webkit*/
::-webkit-input-placeholder {
color: #999999;
} 
/*Firefox 19以降*/
::-moz-placeholder {
color: #999999;
} 
/*Firefox 18以前*/
:-moz-placeholder {
color: #999999;
}
 /*Windows IE*/
:-ms-input-placeholder {
color: #999999;
}

/* ========== header ========== */
.head_nav {
width: 100%;
min-width: 1040px;
background: url(../images/header_bk.png) #ffffff no-repeat center bottom;
border-top: 3px solid #8ab952;
}
.head_nav header {
width: 980px;
height: 170px;
margin: 0 auto;
position: relative;
}

.head_logo {
overflow: hidden;
zoom: 1;
position: absolute;
top: 55px;
left: 0;
}
.head_logo li {
color: #000000;
float: left;
line-height: 35px;
}
.head_logo li:first-child {
margin-right: 20px;
}

.head_right {
text-align: right;
position: absolute;
top: 10px;
right: 0;
}

.count_job dl,
.count_job dt,
.count_job dd {
display: inline-block;
vertical-align: baseline;
}
.count_job dl:first-child {
margin-right: 16px;
font-weight: bold;
}
.count_job dl:first-child dd span {
margin: 0 3px 0 5px;
font-size: 24px;
color: #ff3466;
}
.count_job dl:nth-child(2) {
font-size: 11px;
}

/* before login */
.login_register {
overflow: hidden;
zoom: 1;
margin-bottom: 15px;
}
.login_register li {
display: inline-block;
}
.login_register li:first-child {
margin-right: 5px;
}
.login_agency a:link,
.login_agency a:visited {
color: #ff3366;
}
.login_agency a:hover {
color: #ff789a;
}

/* after login */
.logined01,
.logined02 {
overflow: hidden;
zoom: 1;
text-align: right;
}
.logined01 li,
.logined02 li {
display: inline-block;
}
.logined01 li:first-child a:link,
.logined01 li:first-child a:visited,
.logined02 span {
color: #8ab953;
font-weight: bold;
}
.logined01 li:first-child a:hover,
.logined01 li:first-child a:hover,
.logined02 span a:hover {
color: #9fcc6b;
}

.logined01 {
margin-bottom: 4px;
padding-top: 5px;
}
.logined01 li {
font-size: 14px;
}
.logined01 li:first-child {
margin-right: 8px;
padding-right: 8px;
border-right: 1px solid #8ab953;
}

.logined02 {
margin-bottom: 12px;
}
.logined02 li {
padding: 6px 11px 0;
border-right: 1px solid #8ab953;
font-weight: bold;
vertical-align: baseline;
}
.logined02 li:first-child {
border-left: 1px solid #8ab953;
}
.logined02 li span {
margin: 0 3px 0 5px;
font-size: 24px;
vertical-align: baseline;
}

/* ========== breadcrumbs ========== */
.breadcrumbs {
width: 100%;
min-width: 1040px;
background: #fbfaf8;
}
.breadcrumbs p {
width: 980px;
margin: 0 auto;
line-height: 28px;
font-size: 12px;
color: #666666;
}

/* ========== content ========== */
.content_wrapper {
width: 980px;
margin: 0 auto;
padding: 25px 40px 73px;
overflow: hidden;
zoom: 1;
}
.content {
width: 680px;
float: left;
}

.box {
background: #ffffff;
margin-bottom: 25px;
padding: 25px 20px;
}

.content_banner li {
margin-bottom: 25px;
background: #ffffff;
}

/* ========== right_nav ========== */
.right_nav {
width: 270px;
float: right;
}
.right_banner li {
margin-bottom: 20px;
background: #ffffff;
}

.right_box {
background: #ffffff;
border-radius: 3px;
margin-bottom: 20px;
padding: 15px;
}
.right_box_tit {
margin:0 -15px 15px;
padding: 0 15px 10px;
border-bottom: 1px solid #ff3366;
font-size: 15px;
font-weight: bold;
color: #000000;
}

/* right_single */
.right_single {
margin-bottom: 20px;
}
.right_single iframe {
background: #ffffff;
}

/* right_list */
.right_list li {
margin-bottom: 5px;
}
.right_list li:last-child {
margin-bottom: 0;
}

/* job_sidebar */
.job_sidebar p .btn_pink {
margin: 20px auto 0;
}
.job_sidebar_box {
display: block;
width: 100%;
margin-top: 25px;
}
.job_sidebar_box p:nth-child(2) {
margin-top: 8px;
font-weight: bold;
}
.job_sidebar_box dl {
margin-top: 10px;
overflow: hidden;
zoom: 1;
}
.job_sidebar_box dt,
.job_sidebar_box dd {
font-size: 12px;
}
.job_sidebar_box dt {
width: 46px;
float: left;
text-align: center;
background: #f5f5f5;
border: 1px solid #cccccc;
}
.job_sidebar_box dd {
width: 183px;
float: right;
}

/* right_partner */
.right_partner ul {
overflow: hidden;
zoom: 1;
margin-bottom: -10px;
}
.right_partner li {
float: left;
margin-bottom: 10px;
}
.right_partner li:nth-child(even) {
margin-left: 16px;
}

/* ========== footer ========== */
#footer {
width: 100%;
min-width: 1040px;
background: #ffffff;
}
.footer_content {
padding-bottom: 80px;
background: url(../images/footer_bk.png) #ffffff no-repeat center bottom;
position: relative;
}
.bktop {
position: absolute;
top: -38px;
left: 50%;
margin-left: -490px;
}
.footer_content .column_wrapper {
width: 982px;
margin: 0 auto 25px;
}
.footer_content .column_l,
.footer_content .column_r {
width: 467px;
}

/* foot_search */
.foot_search_area,
.foot_search_box {
margin-bottom: 15px;
padding: 15px;
border: 1px solid #eeece2;
}
.foot_search_tit {
margin-bottom: 10px;
font-size: 14px;
color: #000000;
}

.foot_search_area {
width: 950px;
margin: 0 auto 15px;
}
.foot_search_area dl {
width: 95px;
float: left;
margin-right: 11px;
overflow: hidden;
zoom: 1;
}
.foot_search_area dl:last-child {
float: none;
margin-right:0;
}
.foot_search_area dt {
font-size: 14px;
font-weight: bold;
}
.foot_search_area dd {
line-height: 150%;
}
.foot_search_area dd:nth-child(even) {
float: left;
}
.foot_search_area dd:nth-child(odd):before {
content:"｜";
}

.foot_search_box li {
float: left;
line-height: 150%;
}
.foot_search_box li:last-child {
float: none;
}
.foot_search_box li:after {
content: "｜";
}
.foot_search_box li:last-child:after {
content: none;
}

/* footer_bottom */
.footer_bottom {
width: 980px;
margin: 0 auto;
overflow: hidden;
zoom: 1;
}
.footer_bottom p{
width: 160px;
float: left;
}
.footer_nav {
width: 820px;
float: right;
}
.footer_nav dl {
margin-bottom: 20px;
}
.footer_nav dt,
.footer_nav dd a {
color: #666666;
}
.footer_nav dt {
margin-bottom: 3px;
font-size: 14px;
font-weight: bold;
}

.footer_nav dd {
float: left;
line-height: 150%;
}
.footer_nav dd:last-child {
float: none;
}
.footer_nav dd:after {
content:"｜";
}
.footer_nav dd:last-child:after {
content: none;
}

.copyright {
width: 100%;
min-width: 1040px;
background: #88b94b;
}
.copyright p {
width: 980px;
margin: 0 auto;
padding: 30px 0 80px;
text-align: center;
color: #ffffff;
font-size: 105%;
font-weight: bold;
}



/* common parts
-----------------------------------------------*/
/* ========== jobbox ========== */
/* jobbox_users */
.jobbox_users .jobbox {
display: block;
width: 197px;
float: left;
margin: 0 24px 25px 0;
}
.jobbox_users .jobbox:nth-child(3n) {
margin-right: 0;
}
.jobbox_users .jobbox p:nth-child(2) {
margin-top: 8px;
font-weight: bold;
}
.jobbox_users .jobbox dl {
margin-top: 10px;
overflow: hidden;
zoom: 1;
}
.jobbox_users .jobbox dt,
.jobbox_users .jobbox dd {
font-size: 12px;
}
.jobbox_users .jobbox dt {
width: 60px;
float: left;
text-align: center;
background: #f5f5f5;
border: 1px solid #cccccc;
}
.jobbox_users .jobbox dd {
width: 127px;
float: right;
}

/* jobbox_large */
.jobbox_large .tit_03 {
margin-bottom: 10px;
}
.jobbox_large .txt_right {
margin-bottom: 10px;
font-size: 12px;
}
.jobbox_large .column_wrapper {
margin-bottom: 20px;
}
.jobbox_large .column_l {
width: 335px;
font-size: 14px;
}
.jobbox_large .column_r {
width: 270px;
}
.jobbox_large table {
margin-bottom: 10px;
}
.jobbox_large th,
.jobbox_large td {
padding: 7px 10px;
}
.jobbox_large th {
width: 55px;
background: #f5f5f5;
}

/* jobbox_btm */
.jobbox_btm {
margin: -25px 0 25px;
padding: 15px 20px;
background: #f6f6f6;
text-align: center;
}
.jobbox_btm li {
display: inline-block;
margin-right: 10px;
}
.jobbox_btm li:last-child {
margin-right: 0;
}

/* ========== searchbox ========== */
/* searchbox_condition */
.searchbox_condition dl {
margin-bottom: 20px;
overflow: hidden;
zoom: 1;
}
.searchbox_condition dl:last-child {
margin-bottom: -3px;
}
.searchbox_condition dt {
margin-bottom: 13px;
}
.searchbox_condition dt span {
display: inline-block;
position: relative;
width: auto;
padding: 5px 10px 3px;
background: #ffffff;
border: 1px solid #e5e5e5;
border-radius: 3px;
font-size: 14px;
font-weight: bold;
}
.searchbox_condition dt span:after,
.searchbox_condition dt span:before {
top: 100%;
left: 50%;
border: solid transparent; content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.searchbox_condition dt span:after{
border-color: rgba(255, 255, 255, 0);
border-top-color: #ffffff;
border-width: 5px;
margin-left: -5px;
left: 40px;
}
.searchbox_condition dt span:before {
border-color: rgba(204, 204, 204, 0);
border-top-color: #cccccc;
border-width: 6px;
margin-left: -6px;
left: 40px;
}
.searchbox_condition dd {
width: 200px;
float: left;
margin: 0 20px 3px 0;
}
.searchbox_condition dd:nth-child(3n) {
margin-right: 0;
}

/* ========== agency_box ========== */
.agency_box {
display: inline-block;
width: 288px;
margin: 0 16px 35px;
vertical-align: top;
}
.agency_box .tit_04 span {
display: inline-block;
margin-right: 10px;
padding: 4px 10px;
background: #ff3366;
border-radius: 3px;
vertical-align: middle;
font-size: 13px;
color: #ffffff;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::i-block-chrome, .agency_box .tit_04 span{
    padding: 5px 10px 3px;
  }
}
.agency_box .txt_learge {
margin: 10px 0;
}
.agency_box th,
.agency_box td {
padding: 5px 10px;
}

/* ========== complete pages ========== */
.comps {
padding: 40px 20px;
}
.comps p {
margin-bottom: 15px;
line-height: 180%;
text-align: center;
font-size: 14px;
}
.comps p:last-child {
margin-bottom: 0;
}
.comps p a.btn_190 {
margin-top: 10px;
}
.comps p a:link {
text-decoration: underline;
}
.comps p a.btn_190:link {
text-decoration: none;
}
p.comps_tit {
margin-bottom: 30px;
font-size: 22px;
font-weight: bold;
color: #ff3366;
}



/* common tips
-----------------------------------------------*/
/* ========== column ========== */
.clear {
overflow: hidden;
zoom: 1;
}
.column_wrapper {
overflow: hidden;
zoom: 1;
}
.column_l {
float: left;
}
.column_r {
float: right;
}

/* ========== title ========== */
.tit_01 {
margin-bottom: 12px;
padding-left: 13px;
line-height: 40px;
border-left: 5px solid #ff3366;
font-size: 24px;
font-weight: bold;
}
.tit_02 {
margin-bottom: 10px;
font-size: 18px;
font-weight: bold;
}
.tit_03 {
margin: -25px -20px 20px;
padding: 20px 15px 15px;
border-bottom: 1px solid #f6f3ee;
font-size: 17px;
font-weight: bold;
color: #ff3366;
}
.tit_03:hover {
color: #ff82a1;
}
.tit_03 span {
display: inline-block;
margin: 0 10px 5px 0;
padding: 5px 10px 3px;
background: #ff3366;
border-radius: 3px;
font-size: 13px;
color: #ffffff;
}
@media all and (-ms-high-contrast:none){
  *::-ms-backdrop, .tit_03 span { padding: 4px 10px; } /* IE11 */
}
.tit_04 {
margin-bottom: 10px;
font-size: 18px;
font-weight: bold;
color: #ff3366;
}
.tit_05 {
margin-bottom: 10px;
font-size: 15px;
font-weight: bold;
color: #000000;
}

/* ========== text ========== */
.txt_center {
text-align: center;
}
.txt_right {
text-align: right;
}
.txt_attention {
font-size: 11px;
color: #ff0000;
}
.txt_small {
font-size: 11px;
}
.txt_learge {
font-size: 14px;
}
.txt_line {
text-decoration: underline;	
}
a.txt_line {
text-decoration: underline;	
}

/* ========== margin ========== */
/* margin-top */
.mt10 {
margin-top: 10px !important;
}
.mt15 {
margin-top: 15px !important;
}
.mt20 {
margin-top: 20px !important;
}
.mt25 {
margin-top: 25px !important;
}
.mt30 {
margin-top: 30px !important;
}
.mt40 {
margin-top: 40px !important;
}
.mt50 {
margin-top: 50px !important;
}

/* margin-bottom */
.mb0 {
margin-bottom: 0 !important;
}
.mb5 {
margin-bottom: 5px !important;
}
.mb10 {
margin-bottom: 10px !important;
}
.mb15 {
margin-bottom: 15px !important;
}
.mb20 {
margin-bottom: 20px !important;
}
.mb25 {
margin-bottom: 25px !important;
}
.mb30 {
margin-bottom: 30px !important;
}

/* margin-left */
.ml10 {
margin-left: 10px !important;
}
.ml15 {
margin-left: 15px !important;
}
.ml20 {
margin-left: 20px !important;
}

/* ========== button ========== */
/* color */
.btn_pink {
background: #ff3366;
border-radius: 3px;
color: #ffffff !important;
}
a.btn_pink:hover {
background: #ff678d;
}
.btn_white {
background: #ffffff;
border-radius: 3px;
color: #ff3366 !important;
border: 1px solid #ff3366;
box-sizing: border-box;
}
a.btn_white:hover {
background: #fff3f6;
}
.btn_green {
background: #8ab953;
border-radius: 3px;
color: #ffffff !important;
}
a.btn_green:hover {
background: #9fcc6b;
}
.btn_gray {
background: #999999;
border-radius: 3px;
color: #ffffff !important;
}
a.btn_gray:hover {
background: #aaaaaa;
}

/* size */
.btn_130,
.btn_190,
.btn_240 {
display: inline-block;
text-align: center;
}

.btn_130 {
width: 130px;
line-height: 30px;
font-size: 14px;
font-weight: bold;
}
.btn_190 {
width: 190px;
line-height: 30px;
font-size: 14px;
font-weight: bold;
}
.btn_240 {
width: 240px;
line-height: 30px;
font-size: 14px;
font-weight: bold;
}

/* ========== icon ========== */
.ico_location01,
.ico_check01,
.ico_search01,
.ico_search02,
.ico_folder01,
.ico_folder02,
.ico_arrow01,
.ico_arrow02,
.ico_arrow03,
.ico_arrow04,
.ico_arrow05,
.ico_circle01,
.ico_must,
.ico_app,
.ico_option,
.ico_mail01,
.ico_q01,
.ico_attention01,
.ico_company01,
.ico_company02,
.ico_house01,
.ico_book01 {
text-indent: -9999px;
display: inline-block;
text-align :left;
vertical-align: middle;
}
.ico_location01 {
width: 25px;
height: 32px;
margin-right: 7px;
background:url(../images/sprite.png) -69px 0 no-repeat;
}
.ico_check01 {
width: 24px;
height: 24px;
margin-right: 7px;
background:url(../images/sprite.png) -39px -33px no-repeat;
}
.ico_search01 {
width: 30px;
height: 32px;
margin-right: 7px;
background:url(../images/sprite.png) -94px 0 no-repeat;
}
.ico_search02 {
width: 18px;
height: 18px;
margin-right: 5px;
background:url(../images/sprite.png) -35px -58px no-repeat;
}
.ico_folder01 {
width: 31px;
height: 23px;
margin-right: 7px;
background:url(../images/sprite.png) -63px -33px no-repeat;
}
.ico_folder02 {
width: 18px;
height: 13px;
margin-right: 7px;
background:url(../images/sprite.png) 0 -120px no-repeat;
}
.ico_arrow01 {
width: 5px;
height: 9px;
margin-right: 5px;
background:url(../images/sprite.png) 0 -76px no-repeat;
}
.ico_arrow02 {
width: 13px;
height: 13px;
margin-right: 5px;
background:url(../images/sprite.png) -17px -76px no-repeat;
}
.ico_arrow03 {
width: 13px;
height: 13px;
margin-right: 5px;
background:url(../images/sprite.png) -30px -76px no-repeat;
}
.ico_arrow04 {
width: 13px;
height: 13px;
margin-right: 5px;
background:url(../images/sprite.png) -43px -76px no-repeat;
}
.ico_arrow05 {
width: 13px;
height: 13px;
margin-right: 5px;
background:url(../images/sprite.png) -56px -76px no-repeat;
}
.ico_circle01 {
width: 12px;
height: 12px;
margin-right: 5px;
background:url(../images/sprite.png) -5px -76px no-repeat;
}
.ico_must {
width: 30px;
height: 15px;
margin-right: 5px;
background:url(../images/sprite.png) 0px -89px no-repeat;
}
.ico_app {
width: 30px;
height: 15px;
margin-right: 5px;
background:url(../images/sprite.png) -30px -89px no-repeat;
}
.ico_option {
width: 30px;
height: 15px;
margin-right: 5px;
background:url(../images/sprite.png) -60px -89px no-repeat;
}
.ico_mail01 {
width: 39px;
height: 25px;
background:url(../images/sprite.png) 0px -33px no-repeat;
}
.ico_q01 {
width: 32px;
height: 32px;
background:url(../images/sprite.png) -37px 0 no-repeat;
}
.ico_attention01 {
width: 14px;
height: 13px;
margin-right: 5px;
background:url(../images/sprite.png) -69px -76px no-repeat;
}
.ico_company01 {
width: 15px;
height: 14px;
margin-right: 5px;
background:url(../images/sprite.png) -20px -58px no-repeat;
}
.ico_company02 {
width: 18px;
height: 17px;
margin-right: 5px;
background:url(../images/sprite.png) -53px -58px no-repeat;
}
.ico_house01 {
width: 20px;
height: 17px;
margin-right: 5px;
background:url(../images/sprite.png) 0 -58px no-repeat;
}
.ico_book01 {
width: 18px;
height: 21px;
margin-right: 5px;
background:url(../images/sprite.png) -94px -33px no-repeat;
}

.ico_jobtag {
overflow: hidden;
zoom: 1;
}
.ico_jobtag li {
float: left;
margin-right: 7px;
padding: 5px 10px;
background: #ffded9;
border-radius: 5px;
font-size: 11px;
color: #ff2542;
}
.ico_jobtag li a {
color: #ff2542;
}
.ico_jobtag li a:hover {
color: #ff8293;
}
.ico_jobtag li:last-child {
margin-right: 0;
}

/* ========== formtable ========== */
.formtable th,
.formtable td {
padding: 22px;
}
.formtable th {
width: 220px;
vertical-align: middle;
font-size: 14px;
font-weight: bold;
}
.formtable th .ico_must,
.formtable th .ico_app {
margin-right: 10px;
}
.formtable th strong {
font-size: 13px;
font-weight: normal;
}
.formtable td {
font-size: 12px;
}
.formtable td input {
width: 300px;
}
.formtable td input[type=checkbox],
.formtable td input[type=radio] {
width: auto;
}
.formtable td input.form_size130 {
width: 130px;
}
.formtable td input.form_size180 {
width: 180px;
}
.formtable td input.form_size500 {
width: 500px;
}
.formtable td textarea {
width: 500px;
height: 140px;
}
.formtable td select {
margin: 0 10px;
}
.formtable td select:first-child {
margin-left:0 ;
}
.formtable td .txt_attention {
margin-top: 5px;
font-weight: bold;
}
.formtable td dl {
overflow: hidden;
zoom: 1;
margin-bottom: 15px;
}
.formtable td dl:last-child {
margin-bottom: 0;
}
.formtable td dt {
width: 60px;
float: left;
padding-top: 9px;
}
.formtable td dd {
width: 560px;
float: right;
}

.formtable_license li {
display: inline-block;
width: 157px;
line-height: 240%;
vertical-align: top;
}

/* error massage */
.message {
margin-top: 5px;
font-size: 11px;
color: #ff0000;
}

/* ========== page nav ========== */
/* count_box */
.count_box {
margin-bottom: 20px;
padding: 10px 20px;
background: #f6f6f6;
font-size: 14px;
}

/* pagenation */
.pagenation {
margin-bottom: 20px;
text-align: center;
}
.pagenation li {
display: inline-block;
margin-right: 15px;
color: #000000;
}
.pagenation li:last-child {
margin-right: 0;
}
.pagenation li a {
color: #888888;
}
.pagenation li a:hover {
text-decoration: underline;
}



/* index
-----------------------------------------------*/
/* index_map */
.index_map {
width: 640px;
height: 478px;
background:url(../images/index/map.png) 0 0 no-repeat;
position: relative;
}
.index_map ul {
width: 6em;
}
.index_map li {
float: left;
line-height: 150%;
}
.index_map li:nth-child(even):before {
content:"｜";
}
.index_map .hokkaido {
position: absolute;
top: 72px;
left: 350px;
}
.index_map .tohoku {
position: absolute;
top: 153px;
left: 549px;
}
.index_map .kanto {
position: absolute;
top: 280px;
left: 544px;
}
.index_map .koshinetsu {
position: absolute;
top: 166px;
left: 325px;
}
.index_map .tokai {
position: absolute;
top: 403px;
left: 440px;
}
.index_map .kansai {
position: absolute;
top: 403px;
left: 320px;
}
.index_map .chugoku {
position: absolute;
top: 166px;
left: 207px;
}
.index_map .shikoku {
position: absolute;
top: 403px;
left: 207px;
}
.index_map .kyushu {
position: absolute;
top: 255px;
left: 21px;
}

/* index_news */
.index_news .jobbox {
margin-bottom: 30px;
overflow: hidden;
zoom: 1;
}
.index_news .jobbox .balloon {
position: relative;
width: auto;
margin-bottom: 13px;
padding: 6px 10px 4px;
background: #ffffff;
border: 1px solid #e5e5e5;
border-radius: 3px;
font-size: 14px;
font-weight: bold;
}
.index_news .jobbox .balloon:after,
.index_news .jobbox .balloon:before {
top: 100%;
left: 50%;
border: solid transparent; content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.index_news .jobbox .balloon:after{
border-color: rgba(255, 255, 255, 0);
border-top-color: #ffffff;
border-width: 5px;
margin-left: -5px;
left: 40px;
}
.index_news .jobbox .balloon:before {
border-color: rgba(204, 204, 204, 0);
border-top-color: #cccccc;
border-width: 6px;
margin-left: -6px;
left: 40px;
}
.index_news .jobbox .column_l {
width: 190px;
}
.index_news .jobbox .column_l p:first-child {
margin-bottom: 10px;
}
.index_news .jobbox .column_r {
width: 435px;
font-size: 12px;
}
.index_news .jobbox .column_r table {
margin-bottom: 7px;
}
.index_news .jobbox .column_r th,
.index_news .jobbox .column_r td {
padding: 5px 15px;
}
.index_news .jobbox .column_r th {
background: #f5f5f5;
width: 4em;
}
.index_news .jobbox .column_r p {
margin-bottom: 15px;
}



/* search
-----------------------------------------------*/
.search_box {
margin-bottom: 30px;
}
.search_box p {
margin-bottom: 15px;
padding: 5px;
background: #eeeeee;
}
.search_box select {
min-width: 220px;
margin-bottom: 15px;
}
.search_box li {
display: inline-block;
width: 200px;
margin: 0 20px 5px 0;
vertical-align: top;
}
.search_box li:nth-child(3n) {
margin-right: 0;
}

.search_put {
text-align: center;
font-size: 15px;
}
.search_put span {
margin:0 3px;
font-size: 24px;
font-weight: bold;
color: #ff3366;
}
.search_put .btn_pink {
margin-left: 20px;
}

.search_result {
margin-top: 40px;
}
.search_result span:first-child {
margin-left: 18px;
color: #ff3366;
}
.search_result span:last-child  {
margin-left: 5px;
font-size: 15px;
}



/* search_agency
-----------------------------------------------*/
.search_agency_box {
padding-bottom: 0;
}
.search_agency_box a {
display: inline-block;
width: 198px;
margin: 0 23px 25px 0;
vertical-align: top;
}
.search_agency_box a:nth-child(3n) {
margin-right: 0;
}
.search_agency_box img {
margin-bottom: 5px;
}
.search_agency_box dt {
margin-bottom: 5px;
font-size: 15px;
font-weight: bold;
}
.search_agency_box dd {
font-size: 14px;
}



/* job
-----------------------------------------------*/
.job_tab {
overflow: hidden;
zoom: 1;
margin-top: 30px;
}
.job_tab li {
width: 224px;
float: left;
margin-right: 4px;
background: #f6f6f6;
border-radius: 3px 3px 0 0;
text-align: center;
font-size: 17px;
font-weight: bold;
}
.job_tab li:last-child {
margin-right: 0;
}
.job_tab li.current {
background: #ffffff;
border-top: 3px solid #ff3366;
}
.job_tab li a {
display: inline-block;
width: 100%;
padding: 11px 0 9px;
}
.job_tab li.current a {
padding: 9px 0 11px;
}

.job_sns {
margin-bottom: 15px;
overflow: hidden;
zoom: 1;
}
.job_sns li {
float: left;
margin-right: 15px;
}

.jobbox_detail .tit_04 img {
margin-right: 10px;
vertical-align: middle;
}
.jobbox_detail .column_l,
.jobbox_location .column_l {
width: 345px;
}
.jobbox_detail .column_l th,
.jobbox_detail .column_l td,
.jobbox_location .column_l th,
.jobbox_location .column_l td {
padding: 5px 10px;
}
.jobbox_detail .column_r,
.jobbox_location .column_r {
width: 270px;
}
.jobbox_detail .column_r li,
.jobbox_location .column_r li {
margin-bottom: 15px;
}
.jobbox_detail .column_r li:last-child,
.jobbox_location .column_r li:last-child {
margin-bottom: 0;
}

.jobbox_location {
margin-top: -25px;
}

.job_flow {
margin: 25px 0 45px;
}

.job_adviser ul {
margin: 0 0 -20px;
}
.job_adviser li {
display: inline-block;
width: 200px;
margin: 0 20px 20px 0;
}
.job_adviser li:nth-child(3n) {
margin-right: 0;
}
.job_adviser dl {
margin-top: 5px
}
.job_adviser dt {
font-size: 16px;
}
.job_adviser dd p {
font-size: 14px;
}



/* apply
-----------------------------------------------*/
.apply_head {
padding: 5px 0;
background: #ff3366;
text-align: center;
font-size: 16px;
font-weight: bold;
color: #ffffff;
}
.apply_box table {
margin-bottom: 10px;
}
.apply_box th,
.apply_box td {
padding: 5px 10px;
}
.apply_box th {
width: 130px;
text-align: center;
}

.apply_btnarea {
margin-top: 35px;
}
.apply_btnarea p,
.apply_btnarea ul {
text-align: center;
}
.apply_btnarea ul {
margin-top: 10px;
}
.apply_btnarea li {
display: inline-block;
vertical-align: top;
}

.apply_more,
.apply_more_agency {
margin-top: 40px;
}
.apply_more .formtable td {
padding: 22px 17px;
border: none;
}
.apply_more .formtable td dt {
padding-top: 0;
}
.apply_more .formtable td .jobbox_users .jobbox {
margin-bottom: 0;
}
.apply_more .formtable td .jobbox_users .jobbox p:nth-child(3) {
margin-top: 8px;
font-weight: bold;
color: #000000;
}

.apply_more_agency .formtable td {
padding: 0 0 30px 32px;
border: none;
}
.apply_more_agency .formtable td .agency_box {
margin: 30px 32px 0 0;
}
.apply_more_agency .formtable td .agency_box th,
.apply_more_agency .formtable td .agency_box td {
padding: 5px 10px;
}
.apply_more_agency .formtable td .agency_box th {
width: 5em;
}
.apply_more_agency .formtable td .agency_box td {
border: 1px solid #cccccc;
}



/* column
-----------------------------------------------*/
/* columnlist_box */
.columnlist_box .column_wrapper {
margin-bottom: 15px;
}
.columnlist_box .column_l {
width: 140px;
padding: 5px 0;
}
.columnlist_box .column_r {
width: 500px;
}

/* columncate_box */
.columncate_box ul {
margin-bottom: -7px;
}
.columncate_box li {
display: inline-block;
width: 300px;
margin-bottom: 7px;
vertical-align: top;
font-size: 14px;
}
.columncate_box li:nth-child(even) {
margin-left: 20px;
}

/* columndetail_box */
.columndetail_box {
margin-bottom: 0;
padding: 25px 20px 10px;
}
.columndetail_box p {
margin-bottom: 15px;
font-size: 14px;
}
.columndetail_box p.image {
text-align: center;
}
.columndetail_box p.imagecap {
margin-top: -5px;
text-align: right;
font-size: 12px;
color: #999999;
}
.columndetail_btm {
margin-bottom: 10px;
background: #f6f6f6;
font-size: 12px;
}
.columndetail_btm dt {
width: 130px;
float: left;
line-height: 180%;
font-weight: bold;
}
.columndetail_btm dd {
width: 500px;
float: right;
}
.columndetail_btm dd li {
float: left;
margin-right: 15px;
line-height: 180%;
}
.columndetail_btm dd li:last-child {
margin-right: 0;
}



/* guide
-----------------------------------------------*/
.guide h1 {
margin-bottom: 20px;
}
.guide .box {
margin-bottom: 0;
}
.guide .box .column_l {
width: 400px;
}
.guide .box .column_l p {
margin-bottom: 25px;
font-size: 14px;
font-weight: bold;
}
.guide .box .column_l p:last-child {
margin-bottom: 0;
}
.guide .box .column_l p strong {
color: #ff3366;
}
.guide .box .column_r {
width: 230px;
}

.guide_bottombox {
padding: 15px 0;
background: #f6f6f6;
}
.guide_bottombox ul {
text-align: center;
}
.guide_bottombox li {
display: inline-block;
margin-right: 10px;
}
.guide_bottombox li:last-child {
margin-right: 0;
}

.guide_bottombtn {
margin-top: 10px;
}
.guide_bottombtn li {
display: inline-block;
text-align: center;
position: relative;
}
.guide_bottombtn li:first-child {
margin-right: 10px;
}
.guide_bottombtn li a:link,
.guide_bottombtn li a:visited {
display: inline-block;
width: 335px;
height:60px;
line-height:60px;
border-radius: 3px;
border: 2px solid #ff3366;
box-sizing: border-box;
font-size: 20px;
font-weight: bold;
}
.guide_bottombtn li:first-child a:link,
.guide_bottombtn li:first-child a:visited {
background: #ffffff;
color: #ff3366;
}
.guide_bottombtn li:first-child a:hover {
background: #fff3f6;
}
.guide_bottombtn li:last-child a:link,
.guide_bottombtn li:last-child a:visited {
background: #ff3366;
color: #ffffff;
}
.guide_bottombtn li:last-child a:hover {
background: #ff678d;
}
.guide_bottombtn li:first-child span {
position: absolute;
top: 14px;
left: 28px;
}
.guide_bottombtn li:last-child span {
position: absolute;
top: 19px;
left: 28px;
}



/* use
-----------------------------------------------*/
.use h1 {
margin-bottom: 20px;
}
.use .box {
overflow: hidden;
zoom: 1;
position: relative;
}
.use .box .column_l {
width: 390px;
}
.use .box .column_l img {
border: 3px solid #ff3366;
}
.use .box .column_r {
width: 245px;
}
.use .box:first-child .column_r {
height: 269px;
}
.use .box .column_r p {
margin-bottom: 1em;
font-size: 14px;
}
.use .box .column_r p.txt_center {
position: absolute;
bottom: 10px;
right: 23px;
}



/* rule
-----------------------------------------------*/
.rule section {
margin-bottom: 25px;
}
.rule section:last-child {
margin-bottom: 0;
}
.rule h2 {
margin-bottom: 15px;
font-size: 15px;
font-weight: bold;
}
.rule p,
.rule ol li,
.rule dt,
.rule dd {
font-size: 12px;
}
.rule ol li {
list-style: decimal;
margin-left: 1.5em;
}



/* login
-----------------------------------------------*/
.login dl {
width: 570px;
overflow: hidden;
zoom: 1;
margin: 17px auto 0;
}
.login dt,
.login dd input {
font-size: 14px;
}
.login dt {
width: 80px;
float: left;
line-height: 34px;
color: #000000;
font-weight: bold;
}
.login dd {
width: 470px;
float: right;
}
.login dd input {
width: 100%;
}
.login dd p {
margin-top: 7px;
}
.login p.txt_center {
margin: 45px 0 10px;
}
.login .btn_190 {
margin-bottom: 7px;
}



/* password
-----------------------------------------------*/
.box.password {
padding: 42px 20px 22px;
}
.password p {
margin-bottom: 20px;
line-height: 200%;
}
.password dl {
width: 570px;
overflow: hidden;
zoom: 1;
margin: 50px auto 20px;
}
.password dt,
.password dd input {
font-size: 14px;
}
.password dt {
width: 170px;
float: left;
line-height: 34px;
color: #000000;
font-weight: bold;
}
.password dd {
width: 400px;
float: right;
}
.password dd input {
width: 100%;
}



/* register
-----------------------------------------------*/
.register_area {
width: 670px;
margin: 30px auto 0;
}
.register_area p:last-child {
margin-top :30px;
text-align: center;
}

.register_check {
margin-bottom: 5px;
text-align: center;
font-size: 16px;
font-weight: bold;
}

.register_area dl {
margin: 25px 0 15px;
padding: 10px 15px;
background: #dddddd;
}
.register_area dt,
.register_area dd {
color: #000000;
}
.register_area dt {
margin-bottom: 5px;
font-size: 14px;
font-weight: bold;
}

.register_area p .btn_pink {
display: inline-block;
width: 350px;
line-height: 70px;
font-size: 20px;
font-weight: bold;
}



/* mypage
-----------------------------------------------*/
/* ========== common ========== */
/* mypagemenu */
.mypagemenu {
margin-bottom: 35px;
padding: 25px 20px;
background: #fbfaf8;
border-radius: 5px;
}
.mypagemenu dl,
.mypagemenu ul {
overflow: hidden;
zoom: 1;
}
.mypagemenu dt {
width: 170px;
padding-top: 5px;
float: left;
}
.mypagemenu dd {
width: 470px;
float: left;
}
.mypagemenu li {
float: left;
width: 33%;
line-height:190%;
font-size: 12px;
}

/* ========== mypage_agency ========== */
.mypage_agency_box .ico_company01 {
margin-right: 10px;
}
.mypage_agency_box p {
margin-bottom: 15px;
font-size: 14px;
}
.mypage_agency_box table {
width: 100%;
}
.mypage_agency_box table,
.mypage_agency_box th,
.mypage_agency_box td {
border: 1px solid #cccccc;
}
.mypage_agency_box th,
.mypage_agency_box td {
padding: 5px 15px;
}
.mypage_agency_box th {
background: #f5f5f5;
width: 125px;
}

/* ========== mypage_bookmark ========== */
.mypage_bookmark_command {
margin-bottom: 20px;
}
.mypage_bookmark_command a {
margin-left: 10px;
}

/* ========== mypage_confirm ========== */
.mypage_confirm .formtable {
margin-bottom: 35px;
}
.mypage_confirm .formtable th {
width: 190px;
}

/* ========== mypage_edit ========== */
.mypage_edit {
margin-top: 35px;
text-align: center;
}
.mypage_edit li {
display: inline-block;
vertical-align: top;
}

/* ========== mypage_password========== */
.mypage_password p.txt_learge {
margin-bottom: 35px;
}
.mypage_password dl {
width: 560px;
overflow: hidden;
zoom: 1;
margin: 0 auto 15px;
}
.mypage_password dt {
width: 190px;
padding-top: 10px;
float: left;
font-weight: bold;
}
.mypage_password dd {
width: 350px;
float: right;
}
.mypage_password dd input {
width: 350px;
}
.mypage_password .txt_center {
margin-top: 35px;
}

/* ========== mypage_retire========== */
.mypage_retire dl {
margin-bottom: 35px;
}
.mypage_retire dt {
margin-bottom: 10px;
font-weight: bold;
font-size: 14px;
}
.mypage_retire dd {
padding-left: 25px;
font-size: 14px;
}
.mypage_retire .mypage_retire_lastdl dd {
padding-left: 0;
}
.mypage_retire .mypage_retire_lastdl dd textarea {
width: 100%;
height: 140px;
}