{%include file="pc/admin/shared/_header.html"%}


<div class="innerLR">
{%form_open('manager/client/create')%}

<div class="col-md-6 mini-50">
<div class="widget widget-heading-simple widget-body-white" >
<div class="widget-head">
<h4 class="heading">事業所アカウントの新規作成</h4>
{%getFlashInfo()%}
<!-- widget-head --></div>
<table class="plan_form">
<tr>
<th>事業所区分</th>
<td><select class="selectpicker col-md-6" data-style="btn-primary" name="account_type">
<option value="2">紹介会社</option>
<option value="1">園法人</option>
</select></td>
</tr>
<tr>
<th>会社名</th>
<td><input type="text" placeholder="会社名" class="form-control plan_form" name="name" value="" data-validation = "required" data-validation-error-msg="<span style='color:red'>　会社名は必須項目です.</span>" /></td>
</tr>
<tr>
<th>部署名</th>
<td><input type="text" placeholder="部署名" class="form-control plan_form" name="department" value="" data-validation = "required" data-validation-error-msg="<span style='color:red'>　部署名は必須項目です.</span>"/></td>
</tr>
<tr>
<th>担当者名</th>
<td><input type="text" placeholder="担当者名" class="form-control plan_form" name="contact_name" value="" data-validation = "required" data-validation-error-msg="<span style='color:red'>　担当者名は必須項目です.</span>"/></td>
</tr>
<tr>
<th>メールアドレス</th>

<td><input type="text" placeholder="xxxx@xxxx.com" class="form-control plan_form" name="mail" value="" data-validation = "email" data-validation-error-msg="<span style='color:red'>　メールアドレスは必須項目です</span>"/></td>
</tr>
<tr>
<th>電話番号</th>
<td><input type="text" placeholder="00-0000-0000" class="form-control plan_form" name="phone" value="" data-validation = "alphanumeric" data-validation-error-msg="<span style='color:red'>　電話番号は必須項目です.</span>"/></td>
</tr>
<tr>
<th>FAX</th>
<td><input type="text" placeholder="00-0000-0000" class="form-control plan_form" name="fax" value="" data-validation = "required" data-validation-error-msg="<span style='color:red'>　FAXは必須項目です.</span>"/></td>
</tr>
<tr>
<th>郵便番号</th>
<td><input type="text" placeholder="000-0000" class="form-control plan_form" name="zip_code" data-validation="custom" data-validation-regexp="^([a-z 0-9]+)$" data-validation-error-msg="<span style='color:red'>　郵便番号は必須項目です.(半角英数字)</span>"/></td>
</tr>


<tr>
<th>都道府県</th>
<td>
<select class="col-md-6" data-style="btn-success" name="pre_id" id="pref_id">
<option value="">都道府県を選択</option>
{%foreach $pref as $pre%}
    <option value="{%$pre['pref_id']%}">{%$pre['name']%}</option>
{%/foreach%}
</select>
</td>
</tr>
<tr>
<th>市区町村</th>
<td>
<select class="col-md-6" data-style="btn-success" name="area_id" id="city_select_list">
<option value="">市区町村を選択</option>
</select>

</td>
</tr>

<tr>
<th>住所詳細</th>
<td><input type="text" placeholder="西新宿1−22−2新宿サンエービル2階" class="form-control plan_form" name="address" value="" data-validation = "required" data-validation-error-msg="<span style='color:red'>　住所詳細は必須項目です.</span>"/></td>
</tr>

<tr>
<th>契約プラン</th>
<td>
<br>
  {%foreach $plan_group as $value%}
    <input type="checkbox" name="plan_group[]" value="{%$value['plan_group_id']%}"> {%$value['name']%}<br>
  {%/foreach%}
<br>
</td>
</tr>
</table>
<!-- widget --></div>

<div class="form-group">
<input class="btn btn-primary" type="submit" value="登録・パスワード発行">
</div>

<!-- col-md-6 --></div>
{%form_close()%}
<!-- innerLR --></div>

{%form_open('manager/area/ajax_get_city', ['id' => 'get_city_form'])%}
  <input value="" name="pref_id" type="hidden" id="ajax_pref">
{%form_close()%}

<script type="text/javascript">
$('document').ready(function(){
    $("#get_city_form").ajaxForm({
        dataType: 'json',
        success: function(data) {
            if(data.option != ''){
                $("#city_select_list").html(data.option);
            }
        }
    })

    $("#pref_id").on("change",function(){
      var pref_id = $(this).val();
      $("#ajax_pref").val(pref_id);
      $("#get_city_form").trigger("submit");
    });
});
</script>
{%include file="pc/admin/shared/_footer.html"%}
