{%include file="pc/admin/shared/_header.html"%}
{%include file="pc/admin/shared/_client_menu.html"%}
<div class="innerLR">
<div class="widget widget-body-white widget-heading-simple">
<div class="widget-body">
<div class="row separator bottom">
<div class="col-md-5">
<div class="btn-group">
<a class="btn btn-primary"><span>Copy</span></a>
<a class="btn btn-primary" href="{%base_url('manager/client/nursery/export?format=csv')%}"><span>CSV</span></a>
</div>
</div>
 {%include file="pc/admin/shared/_search.html"%}
<table class="dynamicTable tableTools table table-striped checkboxs exceptuser">
<thead>
<tr>
<th class="text-center">
<div class="checkbox checkbox-single margin-none">
<label class="checkbox-custom">
<i class="fa fa-fw fa-square-o"></i>
<input type="checkbox">
</label>
</div>
</th>
<th>園法人ID</th>
<th>法人名</th>
<th>表示法人名</th>
<th style="width:135px;">ステータス</th>
<th style="width:135px;">　</th>
</tr>
</thead>
<tbody>
{%foreach $clients as $client%}
<tr class="gradeX">
<td class="text-center"><div class="checkbox checkbox-single margin-none"><label class="checkbox-custom"><i class="fa fa-fw fa-square-o"></i>
<input type="checkbox"></label></div></td>
<td><a href="{%base_url('manager/nursery/detail')%}/{%$client['client_id']%}">{%$client['client_id']%}</a></td>
<td><a href="{%base_url('manager/nursery/detail')%}/{%$client['client_id']%}">{%$client['name']%}</a></td>
<td><a href="{%base_url('manager/nursery/detail')%}/{%$client['client_id']%}">{%$client['display_name']%}</a></td>
<td>{%client_status($client['status'])%}</td>
<td>
<a href="{%base_url('manager/nursery/detail')%}/{%$client['client_id']%}">
<button type="button" class="btn btn-primary">編集</button>
</a>
<a href="{%base_url('manager/nursery/del/')%}/{%$client['client_id']%}/?type=nursery">
<button type="button" class="btn btn-default" onClick="return confirmDelete()">削除</button>
</a>
</td>
</tr>

{%/foreach%}

</tbody>
</table>

{%include file="pc/admin/shared/_pagerfantaHtml.html"%}
{%include file="pc/admin/shared/_footer.html"%}
