{%include file="pc/admin/shared/_header.html"%}
<div class="innerLR plan_form">
{%getFlashInfo()%}
<div class="widget widget-heading-simple widget-body-white" >
<div class="widget-head">
<h4 class="heading">グループの編集</h4>
<!-- widget-head --></div>
{%form_open('manager/group/update')%}
<table class="plan_form">
<tr>
<th>グループ名</th>
<td>

{%form_hidden('tag_group_id', $group['tag_group_id'])%}
<input type="text" placeholder="例）園こだわり条件" name="name" class="form-control plan_form" value="{%$group['name']%}" data-validation = "required" data-validation-error-msg="<span style='color:red'>　グループ名は必須項目です.</span>"/></td>
</tr>
<tr>
<th>表示順</th>
<td><input type="text" placeholder="例）1" name="ordered" class="form-control plan_form" value="{%$group['ordered']%}" data-validation = "required" data-validation-error-msg="<span style='color:red'>　表示順は必須項目です.</span>"/></td>
</tr>
<th>グループの説明</th>
<td><input type="text" placeholder="例）園のこだわり条件のグループ" name="description" class="form-control plan_form" value="{%$group['description']%}"/></td>
</tr>

</table>
<!-- widget --></div>
<div class="form-group">
<input class="btn btn-primary" type="submit" value="この内容で登録する" />
　<a class="btn btn-default" href="{%base_url('manager/group')%}">キャンセル</a>
{%form_close()%}
<!-- separater --></div>

<!-- innnerLR --></div>
{%include file="pc/admin/shared/_footer.html"%}
