{%include file="pc/admin/shared/_header.html"%}

<div class="innerLR">
{%getFlashInfo()%}
<div class="form-group">
<a href="{%base_url('manager/group/add')%}"><input class="btn btn-success" type="submit" value="グループ登録"></a>
　<a href="{%base_url('manager/tag/add')%}"><input class="btn btn-success" type="submit" value="タグ登録"></a>
　<button class="btn btn-primary" type="button" onClick="return manualDelete()">チェック項目を削除</button>
</div>

<div class="widget widget-heading-simple widget-body-white" >

{%foreach $categories as $category%}
{%if isset($category['tags']) %}
{%$num=count($category['tags'])+1%}
{%else%}
{%$num=1%}
{%/if%}
<table class="master" id="group{%$category['tag_group_id']%}">
<tr>
<th rowspan="{%$num%}">
<!--
<div class="checkbox checkbox-single margin-none">
<label class="checkbox-custom">
<i class="fa fa-fw fa-square-o"></i>
<input type="checkbox" name="group_id[]" value="{%$category['tag_group_id']%}">
</label></div>
-->
{%$category['name']%}
<a href="{%base_url('manager/group/edit')%}/{%$category['tag_group_id']%}">
<button class="btn btn-primary">編集</button>
</a>
<!--
<a href="{%base_url('manager/group/del')%}/{%$category['tag_group_id']%}">
<button type="button" class="btn btn-default" onClick="return confirmDelete()">削除</button>
</a>
-->

</th>
</tr>
{%if isset($category['tags']) %}
{%foreach $category['tags'] as $tag%}
    <tr id="tag{%$tag['tag_id']%}">
    <td>
        <div class="checkbox checkbox-single margin-none">
            <label class="checkbox-custom">
                <i class="fa fa-fw fa-square-o"></i>
                <input type="checkbox" name="tag_id[]" value="{%$tag['tag_id']%}">
            </label>
        </div>
        {%$tag['name']%}
    </td>

    <td>
        <a href="{%base_url('manager/tag/edit')%}/{%$tag['tag_id']%}">
            <button class="btn btn-primary">編集</button>
        </a>
        <a href="{%base_url('manager/tag/del')%}/{%$tag['tag_id']%}">
        <button type="button" class="btn btn-default" onClick="return confirmDelete()">削除</button>
        </a>
        </td>
    </tr>
    {%/foreach%}
{%/if%}

</table>
<div class="sepatetor master"></div>
{%/foreach%}
<!-- div.widget --></div>

<!-- form-group --></div>

<!-- Content --></div>

{%form_open('manager/group/batch_delete', ['id' => 'batch_form'])%}
<input name="groupid"   type="hidden" style="display:none" />
<input name="tagid"  type="hidden" style="display:none" />
{%form_close()%}

  <script type="text/javascript" src="{%$static_url%}user/library/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="{%$static_url%}user/library/jquery-form_v3.51.0/jquery.form.js"></script>

<script type="text/javascript">
    function manualDelete()
    {
        var arr = [], group_id=[], tag_id = [];
        var i = 0, j = 0;
        $("input[name='group_id[]']:checked").each(function() {
             group_id[i] = $(this).val();
             i++;
        });

        $("input[name='groupid']").val(group_id);

        $("input[name='tag_id[]']:checked").each(function() {
             tag_id[j] = $(this).val();
             j++;
        });

        $("input[name='tagid']").val(tag_id);
        $("#batch_form").submit();
    }

</script>

{%include file="pc/admin/shared/_footer.html"%}
