{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}

<!--main_content-->
<div class="main">

    <!--contact complete-->
     <section>
     	<h4 class="title_pink_bar">ページを表示できません</h4>
        <div class="form_txt">
            <p>エラーが発生しています。<br>メニューやトップページ等から、該当のページを再度ご確認ください。解決できない場合、お手数ですがお問い合わせください。</p>
        </div>
     </section>

{%include file="sp/user/common/sub_content.html"%}
</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}
</body>
</html>

