{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}

<!--main_content-->
<div class="main">

    <!--contact complete-->
     <section>
     	<h4 class="title_pink_bar">現在サイトのメンテナンス中です</h4>
        <div class="form_txt">
            <p>ご利用の皆様にはご不便とご迷惑をおかけいたします。</p>
            <p>申し訳ありませんが、しばらくお待ちくださいますようお願い申し上げます。</p>
        </div>
     </section>

{%include file="sp/user/common/sub_content.html"%}
</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}
</body>
</html>

