{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}

<!--main_content-->
<div class="main">

    <!--contact complete-->
     <section>
        <h4 class="title_pink_bar">企業管理ページは携帯端末で閲覧することができません</h4>
        <div class="form_txt">
        <p>ご利用の皆様にはご不便とご迷惑をおかけいたします。<br>申し訳ありませんが、PC端末にて再度アクセスのほどお願い申し上げます。</p>
        </div>
        <p class="form_button" style="width:80%; margin: 0 auto;"><a href="{%$base_url%}">TOPに戻る</a></p>
     </section>

{%include file="sp/user/common/sub_content.html"%}
</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}
</body>
</html>

