{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}


<!--main_content-->
<div class="main">

    <!--contact complete-->
     <section>
     	<h4 class="title_pink_bar">お問い合わせが完了いたしました</h4>
        <div class="form_txt">
            <p>お問い合わせありがとうございます。<br>
            後ほど担当者よりご連絡させていただきます。</p>
            <p>1週間たっても連絡が無い場合は、電話でお問い合わせください。</p>
            <p class="telnum">0120-974-880</p>
            <p>受付時間 9:00〜20:00（土日・祝日除く）</p>
        </div>
     </section>

{%include file="sp/user/common/sub_content.html"%}
</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}
</body>
</html>
