{%include file="pc/admin/shared/_head.html"%}
<body class="">
<div class="container-fluid menu-hidden">
{%include file="pc/admin/shared/_sidebar.html"%}
<div id="content">
<div class="navbar hidden-print main navbar-default" role="navigation">
<div class="user-action user-action-btn-navbar pull-right">
<button class="btn btn-sm btn-navbar btn-inverse btn-stroke hidden-lg hidden-md"><i class="fa fa-bars fa-2x"></i></button>
</div>
<a href="#index.html" class="logo">
<span class="hidden-xs hidden-sm inline-block">Fine!（ファイン！）</span>
</a>
<ul class="main pull-right">
<li class="dropdown username hidden-xs ">
<a href="{%base_url()%}manager/logout"><i class="fa fa-lock"></i> ログアウト</a></li>
</ul>
</div>
<!-- // END navbar -->
<!-- Content</div> -->
