{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar_logged.html"%}

<!--main_content-->
<div class="main">
	
    <!--求人を紹介してもらう-->
     <section>
     	<h4 class="title_pink_bar">求人を紹介してもらう</h4>
                <div class="form_txt">
                    <p>紹介会社が、あなたに代わって条件にあう求人を探してくれます。<br/>
ホームページ上で非公開となっている好条件の求人を紹介してもらえるかも…？！<br/>
求人紹介を依頼するエージェントを選択し、チェックを入れてください。<br/>
何社でも依頼をすることが出来ます。</p>
                </div>
        <form action="" method="post">
         <section class="job_list agency_entry">  
        			<div class="delete_checkbox"><label for="apply_check"><input type="checkbox" id="apply_check">選択する</label></div>
                <div class="job_linkarea_inbox pb10">
                <h4 class="job_list_title"><span class="tag_osusume">オススメ!</span>NEO Career</h4>
                <p class="form_apply_img"><img src="{%$static_url%}user/img/dummy/dummy_company_logo.jpg" alt=""></p>
                <p class="company_txt">一緒に満足のいく転職をしましょう！一緒に満足のいく転職をしましょう！</p>
                <div class="job_detail_table_s">
                    <dl>
                            <dt>得意エリア</dt>
                         <dd>北海道、東北、関東</dd>
                    </dl>
                    <dl>
                            <dt>得意職種</dt>
                         <dd>保育士 </dd>
                    </dl>
               </div>
             </div>
         </section>
         <section class="job_list agency_entry">  
        			<div class="delete_checkbox"><label for="apply_check2"><input type="checkbox" id="apply_check2">選択する</label></div>
                <div class="job_linkarea_inbox pb10">
                <h4 class="job_list_title"><span class="tag_osusume">オススメ!</span>NEO Career</h4>
                <p class="form_apply_img"><img src="{%$static_url%}user/img/dummy/dummy_company_logo.jpg" alt=""></p>
                <p class="company_txt">一緒に満足のいく転職をしましょう！一緒に満足のいく転職をしましょう！</p>
                <div class="job_detail_table_s">
                    <dl>
                            <dt>得意エリア</dt>
                         <dd>北海道、東北、関東</dd>
                    </dl>
                    <dl>
                            <dt>得意職種</dt>
                         <dd>保育士 </dd>
                    </dl>
               </div>
             </div>
         </section>
             <section class="job_list agency_entry">  
        			<div class="delete_checkbox"><label for="apply_check3"><input type="checkbox" id="apply_check3">選択する</label></div>
                <div class="job_linkarea_inbox pb10">
                <h4 class="job_list_title"><span class="tag_osusume">オススメ!</span>NEO Career</h4>
                <p class="form_apply_img"><img src="{%$static_url%}user/img/dummy/dummy_company_logo.jpg" alt=""></p>
                <p class="company_txt">一緒に満足のいく転職をしましょう！一緒に満足のいく転職をしましょう！</p>
                <div class="job_detail_table_s">
                    <dl>
                            <dt>得意エリア</dt>
                         <dd>北海道、東北、関東</dd>
                    </dl>
                    <dl>
                            <dt>得意職種</dt>
                         <dd>保育士 </dd>
                    </dl>
               </div>
             </div>
         </section>
        <div class="form_button_area">
            <p class="form_button"><a href="confirm.html">応募内容の確認画面へ</a></p>
        <!--<input type="submit" class="form_button" value="応募内容の確認画面へ">-->
         </div>
        </form>
     </section>

{%include file="sp/user/common/sub_content.html"%}
</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}
</body>
</html>

