{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar_logged.html"%}
<!--main_content-->
<div class="main">
{%include file="sp/user/common/mypagemenu.html"%}
    <!--password input-->
     <section>
     	<h4 class="title_pink_bar">パスワード変更</h4>
     	
     	{%form_open('', ['method' => 'POST', 'class' => 'frmchangepassword', 'id' => 'frmchangepassword'])%}
     	
        <dl class="job_detail_table form_table">
        		<dt>現在のパスワード</dt>
        		<dd>
        		
        		<input type="password" name="oldpass" size="40"
						data-validation="required length custom"
						data-validation-regexp="^([0-9a-zA-Z_][0-9a-zA-Z_]+)$"
						data-validation-length="min6"
						data-validation-error-msg="<div class='message'><div class='error | success | warning'>※入力してください</div></div>">
				{%form_error('oldpass')%}

             	</dd>
             	
        		<dt>新しいパスワード</dt>
        		<dd>
        		
        		<input type="password" name="newpass" id="newpass" size="40"
						data-validation="required length custom" 
						data-validation-regexp="^([0-9a-zA-Z_][0-9a-zA-Z_]+)$"
						data-validation-length="min6"
						data-validation-error-msg="<div class='message'><div class='error | success | warning'>※入力してください</div></div>"><br>
				<span class="txt_small">※6文字以上の半角英数字で入力してください。 </span>
				{%form_error('newpass')%}
        		
            	</dd>
        		<dt>新しいパスワード（確認用）</dt>
        		<dd>
        		
        		<input type="password" name="pass" size="40"
						data-validation="required length custom confirm_pass"
						data-validation-regexp="^([0-9a-zA-Z_][0-9a-zA-Z_]+)$"
						data-validation-length="min6"
						data-validation-error-msg="<div class='message'><div class='error | success | warning'>※入力してください</div></div>">
				{%form_error('pass')%}
             	
             	</dd>
        </dl>
        
        <div class="form_button_area">
            <p class="form_button"><a href="javascript:void(0)" class="submit">パスワードを変更する</a></p>
         </div>
        
        </form>
        
     </section>
	
	
	<script src="{%$static_url%}common/js/jquery.min.1.10.2.js"></script>
	<script src="{%$static_url%}common/js/jquery.form-validator.min.2.2.1.js"></script>
	<link href="{%$static_url%}client/css/message.css" rel="stylesheet">
	
	<script type="text/javascript">
	//Add validation
	$.formUtils.addValidator({
	  	name : 'confirm_pass',
	  	validatorFunction : function(value, $el, config, language, $form) {
			var confirmmsg = '<div class="message"><div class="error | success | warning">※入力した内容が一致していません</div></div>';
	    	
	  		if(($('#newpass').val()) != value){
	    		$el.attr('data-validation-error-msg', confirmmsg);
	    		return false;
	    	}
	  		return true;
	  	},
	  	errorMessageKey: 'badEvenNumber'
	});
	$.validate();
	</script>
	
	<script type="text/javascript">
	$(document).ready(function(){
		$('a.submit').click(function(event){
			event.preventDefault();
			var action = jQuery(this).attr('href');
			var form = jQuery(this).parents('form');
			$(form).submit();
			return false;
		});
	});
	</script>
	
{%include file="sp/user/common/sub_content.html"%}
</div>
<!--/main_content-->

{%include file="sp/user/common/footer.html"%}

</body>
</html>
