{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar_logged.html"%}
<!--main_content-->
<div class="main">

{%include file="sp/user/common/mypagemenu.html"%}
    <!--password reset-->
     <section>
     	<h4 class="title_pink_bar">パスワード変更</h4>
        <div class="form_txt">
            <p>パスワードが変更されました。</p>
        </div>
        <div class="form_button_area">
            <p class="form_button"><a href="{%$base_url%}mypage/profile/">登録情報へ戻る</a></p>
         </div>
     </section>
{%include file="sp/user/common/sub_content.html"%}
        
</div>
<!--/main_content-->
{%include file="sp/user/common/footer.html"%}

</body>
</html>
