{%include file="sp/user/common/headbar.html"%}
{%include file="sp/user/common/navbar.html"%}
<!--main_content-->
<div class="main">
	
    <!--delete complete-->
     <section>
     	<h4 class="title_pink_bar">退会完了</h4>
        <p class="red_b_txt form_txt">退会手続きが完了いたしました。</p>
        <div class="form_txt">
            <p>ご利用ありがとうございました。<br>
今後とも、ご転職の際は是非「FINE！」を思い出していただければ幸いです。<br>
※メールマガジンの配信停止などは、数日間お時間がかかる場合があります。ご了承ください。</p>
        </div>
     </section>

{%include file="sp/user/common/sub_content.html"%}
</div>
<!--/main_content-->
{%include file="sp/user/common/footer.html"%}
</body>
</html>
