<!-- Header -->
{%include file="pc/client/common/header.html"%}
{%include file="pc/client/common/top.html"%}

<script src="{%$static_url%}client/common/js/jquery-ui.min.js"></script>
<script src="{%$static_url%}client/common/js/ui.datepicker-ja.js"></script>
<link href="{%$static_url%}client/common/css/jquery-ui.min.css" rel="stylesheet">
<link href="{%$static_url%}client/css/message.css" rel="stylesheet">


<script type="text/javascript">
jQuery(document).ready(function($){
		$(".search-date-calendar" ).datepicker({
			"dateFormat": "yy-mm-dd",
			"regional":"jp",
			changeMonth: true,
			changeYear: true
			});

		});
</script>

<div class="main">
<!-- Left nav -->
{%include file="pc/client/common/left_nav.html"%}

<div class="contents inner">

{%if $account_type == 1%}
<h2 class="tit_01">応募管理</h2>
{%else%}
<h2 class="tit_01">求人票への応募</h2>
{%/if%}



{%include file="pc/client/apply/search_form.html"%}

{%if $data.total gt 0%}
<p class="count_box">{%$data.total%}件中 {%$data.item_start%}～{%$data.item_end%}件を表示</p>
<div class="box">
<div id="message-exclude-fail" class="msg-error display_none"><i class="fa fa-warning"></i>
1つ以上のデータを選択してください。
</div>

{%if $data.success %}
<div class="msg-success"><i class="fa fa-check"></i>{%$data.success%}</div>
{%/if%}

{%if $data.error %}
<div class="msg-error"><i class="fa fa-times-circle"></i>{%$data.error%}</div>
{%/if%}

{%include file="pc/client/apply/items.html"%}
</div>

<p class="pagenation">{%$pagination%}</p>
{%else%}
<div id="message-exclude-fail" class="msg-error"><i class="fa fa-warning"></i>
応募者がいません。
</div>

{%/if%}
</div>
<!-- /.main -->
</div>

<!-- Footer -->
{%include file="pc/client/common/footer.html"%}
