<!-- Header -->
{%include file="pc/client/common/header.html"%} {%include
file="pc/client/common/top.html"%}

<link href="{%$static_url%}client/common/css/jquery-ui.min.css" rel="stylesheet">
<link href="{%$static_url%}client/css/message.css" rel="stylesheet">
<div class="main">
	<!-- Left nav -->
	{%include file="pc/client/common/left_nav.html"%}

	<div class="contents inner">
		<h2 class="tit_01">
			プラン確認・変更<span>：利用中のプラン一覧</span>
		</h2>
		<p class="mb20">
			現在利用しているプランです。<br> プランについてのお申込みは<a class="txt_line" href="{%base_url()%}client/plan/">こちら</a>からお願いいたします。<br>
			プラン名をクリックすると、プランの詳細をご覧いただけます。
		</p><!-- 
		<p class="count_box">6050件中 1～10件を表示</p> -->
		<p class="newbtn">
			<a class="btn_white btn_190" href="{%base_url()%}client/plan/"><span
				class="ico_arrow02">&gt;</span>他のプランに申し込む</a>
		</p>
					{%if $plan_list != false%}
		<div class="box">
			<table class="table01">
				<tbody>
					<tr>
						<th nowrap="">ID</th>
						<th>プラン名</th>
						<th nowrap="">開始日</th>
						<th nowrap="">終了予定日</th>
						<th nowrap="">終了申請</th>
					</tr>
					{%foreach $plan_list as $plan %}
					<tr>
						<td>{%html_escape($plan['client_plan_group_relation_id'])%}</td>
						<td><a href="{%base_url()%}client/plan/applied_detail/{%html_escape($plan['client_plan_group_relation_id'])%}">{%html_escape($plan['name'])%}</a></td>
						{%$created = explode(' ',$plan['created'])%}
						<td nowrap="">{%html_escape($created[0])%}</td>
						<td nowrap="">
						{%html_escape($plan['expire_month'])%}</td>
						<td nowrap="">{%if $plan['delete_flg'] == 1%}<span class="btn_gray btn_auto">終了申請済</span>{%else%}<span class="btn_pink btn_auto">利用中</span>{%/if%}</td>
					</tr>
					{%/foreach%}

				</tbody>
			</table>
			<!-- /.box -->
		</div>
							{%else%}
					<div id="message-exclude-fail" class="msg-error"><i class="fa fa-warning"></i>契約内容が存在しません</div>
					{%/if%}
		{%$pagination%}
		<!-- /.contents -->
	</div>
	<!-- /.main -->
</div>

<!-- Footer -->
{%include file="pc/client/common/footer.html"%}
