<!-- Header -->
{%include file="pc/client/common/header.html"%} {%include
file="pc/client/common/top.html"%}

<div class="main">
	<!-- Left nav -->
	{%include file="pc/client/common/left_nav.html"%}

	<div class="contents inner">
		<h2 class="tit_01">
			プラン確認・変更<span>：プラン申し込み完了</span>
		</h2>
		<div class="box">
			<p>
				プランにお申込みいただき、ありがとうございました。<br> ご利用に関してご不明な点がありましたら、<a href="{%base_url()%}client/backend/contact">こちら</a>よりお問い合わせください。
			</p>
			<p class="mt30 txt_center">
				<a class="btn_190 btn_white" href="{%base_url()%}client/plan/applied_plan/"><span
					class="ico_arrow02">&gt;</span>利用中のプラン一覧</a>
			</p>
			<!-- /.box -->
		</div>
		<!-- /.contents -->
	</div>
	<!-- /.main -->
</div>

<!-- Footer -->
{%include file="pc/client/common/footer.html"%}
