{%include file="pc/user/common/headbar.html"%}
{%include file="pc/user/common/navbar.html"%}

{%display_breadcrumb($breadcrumb)%}

<div class="content_wrapper">
<h1 class="tit_01">利用規約</h1>
<div class="box rule">
<section>
<h2>第1条（定義）</h2>
<ol>
<li>「FINE!」とは、株式会社ネオキャリア（以下、「当社」といいます）が提供する求人情報サービスおよび付随するメールサービスの総称をいいます。</li>
<li>「利用者」とは、「FINE!」を利用する個人をいいます。</li>
<li>「求人企業」とは、当社との間で「FINE!」に求人広告を掲載することに関する契約を締結した法人をいいます。</li>
</li>
</ol>
</section>
<section>
<h2>第2条（「FINE!」の利用）</h2>
<p>利用者は、「FINE!」を利用した時点で、「FINE!」利用規約（以下、「利用規約」といいます）およびプライバシーポリシーの内容をすべて承諾したものとみなされます。 不承諾の意思表示は、「FINE!」を利用しないことをもってのみ認められるものとします。</p>
</section>
<section>
<h2>第3条（利用者の責任）</h2>
<ol>
<li>利用者は、自らの意思および責任をもって「FINE!」を利用するものとします。</li>
<li>利用者が「FINE!」に登録する情報は、利用者自らがその内容の正確性等、一切の責任を負うものとします。</li>
<li>利用者は、求人企業に採用されること、求人情報を紹介されること等を当社が保証しないことを了承したうえで「FINE!」を利用するものとします。</li>
<li>利用者が「FINE!」の利用により、求人企業または第三者に対して損害を生じさせた場合には、利用者の責任において解決し、当社は一切の責任を負わないものとします。</li>
</ol>
</section>
<section>
<h2>第4条（利用者の禁止事項）</h2>
<dl>
<dt>利用者は「FINE!」を利用するにあたり、下記の行為を行わないものとします。</dt>
<dd>A：虚偽の情報（その事実に関わらず当社が判断したものも含む）を登録する行為</dd>
<dd>B：著作権、商標権、プライバシー権、氏名権、肖像権、名誉等の他人の権利を侵害する行為</dd>
<dd>C：個人や団体を誹謗中傷する行為</dd>
<dd>D：法令、公序良俗に反する行為、またはそのおそれのある行為</dd>
<dd>E：「FINE!」を利用しての営利を目的とした情報提供等の行為</dd>
<dd>F：「FINE!」の運営を妨げる行為、または当社の信頼を毀損する行為</dd>
<dd>G：その他、客観的、合理的事由により当社が不適切と判断する行為</dd>
</dl>
</section>
<section>
<h2>第5条（「FINE!」の提供情報）</h2>
<ol>
<li>「FINE!」において提供される情報（会社情報等の第三者の情報および求人情報等の求人企業から提供される情報）は、その第三者および求人企業の責任で提供されるもので、利用者は、提供情報の真実性、最新性、合法性、安全性、有用性、適切性について当社が何ら保証しないことを承諾し、自己の責任において利用するものとします。</li>
<li>当社は、「FINE!」の提供に不具合や障害が生じないこと、「FINE!」から得られる情報等が正確なものであること、「FINE!」から得られる役務および情報等が利用者の期待を満たすものであることのいずれについても保証しないものとします。</li>
</ol>
</section>
<section>
<h2>第6条（免責事項）</h2>
<ol>
<li>当社は、「FINE!」の利用（これらに伴う当社または求人企業または第三者の情報提供等を含みます）または利用できないことから生じる損害（精神的苦痛、求職活動の中断、その他の金銭的損失を含む一切の不利益）について、一切の責任を負わないものとします。</li>
<li>当社は、「FINE!」を通じてアクセスできる求人企業または第三者等が提供するサイトおよびサービスにより生じる損害について、一切の責任を負わないものとします。</li>
<li>当社は、求人企業と利用者との間で行われる連絡、交渉、情報提供等のすべてのやりとりと、そのやりとりが確実に相手方に到達していることについて介入および管理を行いません。</li>
<li>当社は、通常講ずるべきウィルス対策では防止できないウィルス被害、コンピュータまたは通信回線等の事故による被害、天変地異による被害、その他当社の責めによらない事由により生じた被害について、一切の責任を負わないものとします。</li>
<li>当社は、「FINE!」におけるデータが消去・変更されないことを保証できません。利用者は、必要なデータを自己の責任において保存するものとします。</li>
<li>当社は、「FINE!」に掲載されている求人企業の財務内容の優良性、事業体としての存続性、事業の適法性、社会的妥当性等について何ら保証しないものとします。</li>
<li>利用者は、「FINE!」を利用するにあたり、「FINE!」からのダウンロードおよびその他の方法によりソフトウェア等を利用者のコンピュータ等にインストールした際に生じた損害について一切の責任を負うものとし、その損害について当社は一切の責任を負わないものとします。</li>
<li>当社が責任を負う場合であっても、当社に故意または重過失がある場合を除き、賠償の範囲は直接かつ通常の損害に限られるものとします。</li>
</ol>
</section>
<section>
<h2>第7条（登録情報の利用）</h2>
<p>当社は、「FINE!」に提供された利用者の登録情報のうち、氏名、住所、電話番号、メールアドレス等個人を特定する情報を除いた情報を、当社が編集・発行する著作物等に二次使用することができるものとします。この場合、二次著作物の著作権は、当社に帰属します。</p>
</section>
<section>
<h2>第8条（「FINE!」の変更等）</h2>
<ol>
<li>当社は、利用者に対し事前に通知することなく、「FINE!」の変更または一時的な中断を行うことができるものとします。</li>
<li>当社は、1ヶ月間の予告期間をもって利用者に通知し、「FINE!」の提供を長期的に中断または終了することができるものとします。</li>
<li>前二項により、利用者に損害が発生した場合でも、当社は利用者に対して何ら責任を負わないものとします。</li>
</ol>
</section>
<section>
<h2>第9条（統計情報・属性情報の集計および利用）</h2>
<ol>
<li>当社は、利用者サービスの適切な運営及び管理を行うため、必要に応じて利用者サービスの全部または一部の業務を第三者に委託できるものとします。</li>
<li>当社は、利用者の「FINE!」の利用記録（ページビュー、応募などを含みますが、これらに限られません）を集計・分析し、利用者個人を識別・特定できないように加工した上で統計データ、属性情報等（職務経歴等などを含みますが、これらに限られません。以下同じです）を作成し、当該統計データ、属性情報等につき何ら制限なく利用（企業への提案、市場の調査、新サービスの開発を含みますが、これらに限られません）することができるものとし、利用者はこれをあらかじめ承諾します。<br>また、当社は、企業が「FINE!」のシステムを通じて利用者に送付するメールについても、利用者個人を識別・特定できないように加工した上で統計データ、属性情報等を作成し、当該企業への募集活動のサポートを目的として閲覧・利用できるものとし、利用者はこれをあらかじめ承諾します。なお、当社の委託先も同様に、本条で当社が行うのと同じ目的で当該統計データ・属性情報等、メールについても閲覧・利用できるものとします。</li>
</ol>
</section>
<section>
<h2>第10条（損害賠償の請求）</h2>
<p>利用者が利用規約に反した行為、または不正または違法に「FINE!」を利用することにより、当社に損害を与えた場合、当社は該当利用者に対して損害賠償の請求を行う場合があります。</p>
</section>
<section>
<h2>第11条（反社会的勢力）</h2>
<ol>
<li><dl>
<dt>利用者は、現在、暴力団、暴力団員、暴力団員でなくなった時から５年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロまたは特殊知能暴力集団等、その他これらに準ずる者（以下これらを「暴力団員等」といいます。）に該当しないこと、および次の各号のいずれにも該当しないことを表明し、かつ将来にわたっても該当しないことを確約するものとします。</dt>
<dd>(1) 暴力団員等が経営を支配していると認められる関係を有すること</dd>
<dd>(2) 暴力団員等が経営に実質的に関与していると認められる関係を有すること</dd>
<dd>(3) 自己もしくは第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に暴力団員等を利用していると認められる関係を有すること</dd>
<dd>(4) 暴力団員等に対して資金等を提供し、または便宜を供与するなどの関与をしていると認められる関係を有すること</dd>
<dd>(5) 役員または経営に実質的に関与している者が暴力団員等と社会的に非難されるべき関係を有すること</dd>
</dl></li>
<li><dl>
<dt>利用者は、自らまたは第三者を利用して次の各号の一にでも該当する行為を行わないことを確約するものとします。</dt>
<dd>(1) 暴力的な要求行為</dd>
<dd>(2) 法的な責任を超えた不当な要求行為</dd>
<dd>(3) 取引に関して、脅迫的な言動をし、または暴力を用いる行為</dd>
<dd>(4) 風説を流布し、偽計を用いまたは威力を用いて当社、他の利用者、その他第三者の信用を毀損し、または当社、他の利用者、その他第三者の業務を妨害する行為</dd>
<dd>(5) その他前各号に準ずる行為</dd>
</dl></li>
</ol>
</section>
<section>
<h2>第12条（準拠法および管轄）</h2>
<p>利用者サービスおよび利用者規約の準拠法は日本法とし、利用者サービスまたは利用者規約に関して生じる一切の紛争については、東京地方裁判所または東京簡易裁判所を第一審の専属的管轄裁判所とします。 </p>
<p class="mt10">付則<br>この規約は2014年12月5日から実施します。</p>
</section>
<!-- /.box --></div>

<!-- /.content_wrapper --></div>

{%include file="pc/user/common/footer.html"%}

</body>
</html>
